{% extends 'Base_Templates/supplierBase.html' %}


<!-------page title------->
{% block title %}Registration{% endblock title %}

<!-------start of styles------->
{% block moreStyles %}
.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #FF0000; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
{% endblock moreStyles %}
<!-------end of styles------->

<!-------Header 1 and 2 captions------->
{% block pageContentHeader1 %}Supplier Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Update Supplier Details{% endblock pageContentHeader2 %}

<!-------start of main content block------->
{% block content %}

  <!--Supplier Registration Form-->
  <div style="padding-left: 20px;">
      <form method="post" action="#">
           {% csrf_token %}
    <table style=" padding: 20px 20px 20px 20px; background-color: #95ED7D;">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="supid" style="font-size: 20px;">Stock ID</label></td>
      <td><input type="text" name="supid" id="supid" value="{{ sup.id }}" readonly></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="name" style="font-size: 20px;">Name</label></td>
      <td>&emsp;<input type="text" id="name" name="name" value="{{ sup.Sup_Name }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="nicNo" style="font-size: 20px;">NIC No</label></td>
      <td>&emsp;<input type="text" id="nicNo" name="nicNo" value="{{ sup.nicNo }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Address</label></td>
      <td>&emsp;<input type="text" id="address" name="address" value="{{ sup.nicNo }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="contact" style="font-size: 20px;">Contact No</label></td>
      <td>&emsp;<input type="text" id="contact" name="contact" value="{{ sup.phone }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="email" style="font-size: 20px;">Email Address</label></td>
      <td>&emsp;<input type="text" id="email" name="email" value="{{ sup.email }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="dob" style="font-size: 20px;">Date of Birth</label></td>
      <td>&emsp;<input type="text" id="dob" name="dob" value="{{ sup.DOB }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="date" style="font-size: 20px;">Date Commenced</label></td>
      <td>&emsp;<input type="text" id="date" name="date" value="{{ sup.Reg_Date }}" readonly></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="estate" style="font-size: 20px;">Estate Name</label></td>
      <td>&emsp;<input type="text" id="estate" name="estate" value="{{ sup.est_name }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="route" style="font-size: 20px;">Route</label></td>
      <td>&emsp;<select style="width: 58.5%;" id="route" name="route"  value="{{ sup.route }}"></select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="ss" style="font-size: 20px;">Supply Scale</label></td>
      <td>&emsp;<select style="width: 58.5%;" id="ss" name="ss" value="{{ sup.scale }}"></select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="paytyme" style="font-size: 20px;">Payment Type</label></td>
      <td>&emsp;<select style="width: 58.5%;" id="paytyme" name="paytyme" value="{{ sup.pay_Type }}"></select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="bank" style="font-size: 20px;">Bank</label></td>
      <td>&emsp;<input type="text" id="bank" name="bank" value="{{ sup.bank }}"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="accno" style="font-size: 20px;">Account No</label></td>
      <td>&emsp;<input type="text" id="accno" name="accno" value="{{ sup.acc_No }}"></td>
      </tr>
      <tr>
      <td></td>
      <td><br>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&ensp;&ensp;
          <form method="post" action="{% url 'S_EditSupplier' %}">
              {% csrf_token %}
              <input type="hidden" name="formid" value="{{ sup.id }}">
          <a href="{% url 'S_ViewSupplierProfile' %}"><input class="regButton" type="button" value="Save" onclick="w3_close()"></a>
          </form>
          <a href="{% url 'S_ViewSupplierProfile' %}"><input class="remvButton" type="submit" value="Cancel"></a>

      </td>
      </tr>
    </table>
    </form>
    <br><br><br><br>
  </div>

<!-- End page content -->
</div>

{% endblock content %}
<!-- End page content -->
