{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Supplier Pay Slip</title>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
        }
        table, th, td {
            {#border: 1px solid black;#}
            border-collapse: collapse;
            display: flex;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: center;
        }
    </style>
</head>

<body>
<br><br><br><br><br>
    <center>
        <link rel="shortcut icon" type="image/png" href="{% static 'cd..static/images/logo.png' %}">
        <h1>Leaf Stock Supplier Pay Slip (Year/Month)</h1>
    </center>
    <br><br>
            {% for form in form %}
            <table style="width: 100%; padding: 20px 20px 20px 20px;">
              <tr>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td style="padding-bottom: 5px;"><label for="name" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp; Supplier NIC</label></td>
                <td style="font-size: 18px;">&emsp;{{ form.nic }}</td>
              </tr>
              <tr><td><br></td><td><br></td></tr>
              <tr>
                <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp; Total Kilograms</label></td>
                <td style="font-size: 18px;">&emsp;{{ form.tot_weight }}</td>
              </tr>
              <tr>
                <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp; Price per Kilogram</label></td>
                <td style="font-size: 18px;">&emsp;{{ form.per_kilo_price }}</td>
              </tr>
              <tr><td><br></td><td><br></td></tr>
                <tr>
                    <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp; Total Payment : </label></td>
                    <td style="font-size: 18px;">&nbsp;{{ form.payment }}</td>
              </tr>
                <!---last 3 <tr> tags to get the shape of this table--->
            </table>
            <br><br>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                  <td style="text-align: left; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature : .........................</td>
                  <td style="text-align: right;"> <label for="date" style="font-size: 16px; font-style: italic">&nbsp; Date | Time </label>&emsp;&nbsp;{{ form.pay_Date }}&emsp;|&emsp;{{ form.pay_Time }}</td>
                </tr>
            </table>
            {% endfor %}
            <br><br><br><br>
</body>
</html>