{% extends 'Base_Templates/supplierBase.html' %}


<!-------page title------->
{% block title %}View Leaf Stock{% endblock title %}


<!-------start of styles------->
{% block moreStyles %}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #FF0000; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
{% endblock moreStyles %}
<!-------end of styles------->


<!-------Header 1 and 2 captions------->
{% block pageContentHeader1 %}Supplier Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Leaf Stock Details{% endblock pageContentHeader2 %}


<!-------start of main content block------->
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 style="font-size: 48px;"><b>Supplier Management</b></h1>
    <h1 class="w3-text-green" style="font-size: 24px;"><b>Leaf Stock Details</b></h1>
    <!--<hr style="width:50px;border:5px solid #64ff33" class="w3-round">-->
  </div>

  <!--Add Stock Details Form-->
  <div style="padding-left: 20px;">
    <table style=" padding: 20px 20px 20px 20px; background-color: #95ED7D;">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="supid" style="font-size: 20px;">Stock ID</label></td>
      <td>&emsp;{{ form1.id }}</td>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="nicno" style="font-size: 20px;">Total Weight</label></td>
      <td>&emsp;{{ form1.weight }}</td>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="address" style="font-size: 20px;">Received Date</label></td>
      <td>&emsp;{{ form1.rec_Date }}</td>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="address" style="font-size: 20px;">Received Time</label></td>
      <td>&emsp;{{ form1.rec_Time }}</td>
      </tr>
      <tr>
      <td></td>
      <td>&emsp;&emsp;&ensp;&emsp;&ensp;&ensp;<a href="/S_StockDetails"><input class="regButton" type="submit" value="Print"><input class="remvButton" type="submit" value="Remove"></a></td>
      </tr>
    </table>
    <br><br><br><br>
  </div>

<!-- End page content -->
</div>

{% endblock content %}
<!-- End page content -->