{% extends 'Base_Templates/FinalPrductionBase.html' %}

<!------------------------------------Title--------------------------------------->
{% block title %}Add Auction Stock{% endblock title %}


<!------------------------------------Scripts-------------------------------------->
 {% block headImport1 %}

     <script src="https://kit.fontawesome.com/f78ce457b0.js" crossorigin="anonymous"></script>

    <script>
        function formPopupFunction() {
          document.getElementById("popupTable").style.display="block";
          document.getElementById("closeBtn").style.visibility="visible";
          document.getElementById("openBtn").style.visibility="hidden";
        }

        function closeformPopupFunction() {
          document.getElementById("popupTable").style.display="none";
          document.getElementById("openBtn").style.visibility="visible";
          document.getElementById("closeBtn").style.visibility="hidden";
        }
    </script>
 {% endblock headImport1 %}


<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.formTable{
    border-collapse: collapse;
    width: 100%;
}

.formTable td {
    border: 1px solid #1E54D5;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #EDF3FF;
}

.showTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.showTable th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background: #fff9d2;
}

.showTable td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

.showTable tr:nth-child(even) {
    background-color: #f8f5f5;
}

.showTableBottom{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.showTableBottom th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    background: #fff9d2;
}

.showTableBottom td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 15px;
    padding: 10px;
    background: #F3F9FB;
}

#popupTable {
  display: none;
  width: 100%;
  padding: 20px;
  background-color: #E2FAFF;
  margin-top: 20px;
}

.subStockFormContainer{
    margin-top:20px;
    text-Align:center;
    padding:5px;
    background:#EAEAFF;
    width:60%;
}

.subStockFormContainer h1
{
    font-family: "Arial Black", Gadget, sans-serif;
}

.buttonAddStock
{
      background-color: #020074;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      width: 50%;
      height: 50px;
      border-radius: 10px;
}

.buttonAddStock:hover {
    background: #E2DB18;
    font-size: 18px;
    color: #000;
}

.mainStockDetailsContainer
{
    margin-top:20px;
    padding:15px;
    background:#D8FDEB;
    width:60%;
    text-Align:center;
}
.mainStockDetailsContainer table
{
    text-Align:left;
}

.mainStockDetailsContainer h1
{
    color: #032C95;
    font-weight: bold;
    margin-bottom:30px;
}

.buttonEdit1
{
      background-color:#E0C105;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight:bold;
      width: 50%;
      height: 50px;
      text-transform: uppercas;
      align:center;
}

.buttonEdit1:hover {
    background: #CF1B1B;
    color: white;
}

.buttonEdit
    {
      background-color: #9F029C;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      height: 50px;
}

.buttonEdit:hover {
    background: #DC0175;
}

.buttonClose
{
      background-color: #E02516;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      height: 40px;
}

.buttonClose:hover {
    background: #E5ED34;
    color: #000;
}

.buttonDelete
    {
      background-color: #E02516;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 80%;
      height: 40px;
      border-radius: 15px;
}

.buttonDelete:hover {
    background: #E5ED34;
    color: #000;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block addCatelogBtn %}ClassActive1{% endblock addCatelogBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Prepare Catelog{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<div class="subStockFormContainer">

<h1>Sub Stock Form</h1>

<!-- Form -->
   <form method="post" action="{% url 'prepare_auction_stock' %}">

    {% csrf_token %}

       <table class="formTable">
          <tr>
               <td><label><b>Sub Stock ID</b></label></td>
               <td>{{ sid }}</td>
           </tr>

           <tr>
               <td><label><b>Invoice No</b></label></td>
               <td>{{ form.invoice }}</td>
           </tr>

           <tr>
               <td><label><b>Tea Category</b></label></td>
               <td>{{ form.grade }}</td>
           </tr>

           <tr>
               <td><label><b>Net Weight(kg)</b></label></td>
               <td>{{ form.net_weight }}</td>
           </tr>

           <tr>
               <td><label><b>Total Weight(kg)</b></label></td>
               <td>{{ form.total_weight }}</td>
           </tr>

           <tr>
               <td><label><b>No of Packeges</b></label></td>
               <td>{{ form.no_of_packets }}</td>
           </tr>

          <tr>
               <td><label><b>Packet Type </b></label></td>
               <td>{{ form.packetType }}</td>
           </tr>

           <tr>
               <td><label><b>Date Prepared </b></label></td>
               <td>{{ form.date_prepared }}</td>
           </tr>

       </table>
       <br>
      <button type="submit" class="buttonAddStock">Add Sub Stock &nbsp;<i class="fas fa-check"></i></button>

    </form>

    <br>

</div>

<!--------------Errors--------------------------------------->
    {% if form.errors %}

        <div class="errorDisplay" style="background-color: #faff8a; color:#de2020; padding:5px">
            <h3 style="font-weight: bold">{{ form.errors }}</h3>
        </div>

   {% endif %}

<br>
    <!--------------Details Table------------------------------------>

{#check availability#}
     {% if SubStock.sub %}

        <h1>Current Catelog Details</h1>

        <div style="overflow-x:auto;">

         <table class="showTable">

            <th>MainId</th>
            <th>SubStockId</th>
            <th>Invoice</th>
            <th>No of Packets</th>
            <th>Net Weight(kg)</th>
            <th>Total Weight(kg)</th>
            <th>Grade</th>
            <th>Packet Type</th>
            <th>Date Prepared</th>
            <th>Update</th>

             {% for stock in SubStock.sub %}
                <tr>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.SubID }}</td>
                    <td>{{ stock.invoice }}</td>
                    <td>{{ stock.no_of_packets }}</td>
                    <td>{{ stock.net_weight }}</td>
                    <td>{{ stock.total_weight }}</td>
                    <td>{{ stock.grade }}</td>
                    <td>{{ stock.packetType }}</td>
                    <td>{{ stock.date_prepared }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_subStock' %}">
                            {% csrf_token %}
                            <input type="hidden" name="stID" value="{{ stock.id }}"/>
                            <input type="submit" value="Delete" class="buttonDelete" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return false }">
                        </form>
                    </td>
                </tr>

             {% endfor %}

         </table>
        </div>
    <br>

    <!--------------Main Stock Table------------------------------------>
<div class="mainStockDetailsContainer">

<h1>Add MainStock Stock</h1>

    <h3>No of Sub Stocks:&ensp;{{ SubStock.rowsNo }} </h3>
    <h3>Total Net Weight:&ensp;{{ SubStock.tne }} kg</h3>
    <h3>Total Gross Weight:&ensp;{{ SubStock.tgr }} kg</h3>
    <h3>Total No of Packets:&ensp;{{ SubStock.tpk }}</h3>

    <form method="post" action="{% url 'add_mainStock' %}">
        {% csrf_token %}
        <input type="hidden" name="sid" value="{{ sid }}"/>
        <input type="hidden" name="tnet" value="{{ SubStock.tne }}"/>
        <input type="hidden" name="tgr" value="{{ SubStock.tgr }}"/>
        <input type="hidden" name="tpk" value="{{ SubStock.tpk }}"/>

        <table>
            <tr>
                <td><h4><b>Sub Stock ID :&ensp;</b></h4></td>
                <td><h4>{{ sid }}</h4></td>
            </tr>

            <tr>
                <td><h4><b>Broker :</b></h4></td>
                <td>{{ mForm.Broker }}</td>
            </tr>

            <tr>
                <td><h4><b>Date :</b></h4></td>
                <td>{{ mForm.Date }}</td>
            </tr>

        </table>
        <br>
        <button type="submit"class="buttonEdit1">Confirm Catelog &nbsp; <i class="fas fa-check-circle"></i></button>

    </form>

    <br>

</div>
{% endif %}
    
    <br>

{#check availability#}
{% if notSoldStocks %}

   <button class="buttonEdit" id="openBtn" onclick="formPopupFunction()"><i class="fas fa-angle-double-down fa-x"></i>&nbsp;&nbsp;Add Not-Sold Sub Stocks</button>

    <div id="popupTable" >
    <h1>Add Not-Sold Stock to Catelog</h1>
        <div style="overflow-x:auto;">

             <table class="showTableBottom">

                 <th>MainID</th>
                 <th>SubID</th>
                 <th>Grade</th>
                 <th>pkt.Type</th>
                 <th>Invoice</th>
                 <th>Date Prepared</th>
                 <th>Net.W</th>
                 <th>Total.W</th>
                 <th>No.of.Pkts</th>
                 <th>Choises</th>


                 {% for nst in notSoldStocks %}

                    {% for prst in prevSubStock %}

                        {% if nst.MainID == prst.id  %}

                             <tr>

                                 <form method="post" action="{% url 'addNotSold_currentCatelog' %}">
                                    {%  csrf_token %}
                                     <input type="hidden" name="newSID" value="{{ sid }}" >
                                     <input type="hidden" name="prvMID" value="{{ prst.id }}" >

                                    <td>{{ prst.id }}</td>
                                    <td>{{ prst.SubID }}</td>
                                    <td>{{ prst.grade }}</td>
                                    <td>{{ prst.packetType }}</td>

                                    <td>
                                        {{ prst.invoice }}
                                        {{ nAddForm.invoice }}
                                    </td>

                                    <td>{{ prst.date_prepared }}
                                        {{ nAddForm.date_prepared }}
                                    </td>

                                    <td>
                                        {{ prst.net_weight }}
                                        {{ nAddForm.net_weight }}
                                    </td>

                                    <td>{{ prst.total_weight }}
                                        {{ nAddForm.total_weight }}
                                    </td>

                                    <td>{{ prst.no_of_packets }}
                                        {{ nAddForm.no_of_packets }}
                                    </td>

                                    <td>
                                        <input type="submit" value="Add To Catelog" class="buttonEdit">
                                    </td>

                                 </form>

                             </tr>

                        {% endif %}

                    {% endfor %}

                 {% endfor %}

             </table>

        </div>

        <br><br>
        <button class="buttonClose" id="closeBtn" onclick="closeformPopupFunction()"><i class="fas fa-angle-double-up fa-x"></i>&nbsp;&nbsp;Close SubStocks Table</button>
        <br>

    </div>
{% endif %}
<br><br>

{% endblock content %}
