{% extends 'AuctionStock_Teamplates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}All Brokers{% endblock title %}


<!------------------------------------Scripts-------------------------------------->
 {% block headImport1 %}

 <script src="https://kit.fontawesome.com/f78ce457b0.js" crossorigin="anonymous"></script>

{% endblock %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    background: #fff9d2;
    }

td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 20px;
    padding: 15px;
    }

tr:nth-child(even) {
    background-color: #f3f2ee;
    }

.buttonEdit
    {
    background-color: #2f960a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90%;
    border-radius: 5px;
    }

.buttonDelete {
    margin-top: 15px;
    background-color: #ff6d00;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90%;
    border-radius: 5px;
    }

.buttonEdit:hover {
    background: #25ff79;
    color: black;
    }

.buttonDelete:hover{
    background: red;
    color: black;
    }

.addBtn a
{
    background-color: #244ee9;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-decoration: none;
}

.addBtn a:hover
{
    background-color: #fdef5b;
    color: #0f0f0f;
}

.headerAndButtonContainer
{
  display: flex;
  min-width: 420px;
  position: relative;
}

.headerAndButtonContainer .addBtn
{
    margin-top: 20px;
    position: absolute;
    right: 0;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block allBrokersBtn %}ClassActive1{% endblock allBrokersBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Brokers <i class="fas fa-handshake"></i> <i class="fas fa-people-arrows"></i>{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}
<div class="headerAndButtonContainer">

    <h1>Broker Details</h1>

    <div class="addBtn">
        <a href="{% url 'add_broker' %}"><i class="fas fa-plus-square"></i>&ensp;Add New Broker</a>
    </div>
</div>

<div style="overflow-x:auto;">
 <table border="1 px solid black">

    <tr>
        <th>Broker Name</th>
        <th>Address</th>
        <th>Phonenumber</th>
        <th>Var.Reg Number</th>
        <th>Update</th>
    </tr>

     {% for broker in Brokers %}
         <tr>
         <td>{{ broker.name }}</td>
         <td>{{ broker.address }}</td>
         <td>{{ broker.phone }}</td>
         <td>{{ broker.vat_regno }}</td>

        <td>
            <form method="post" action="{% url 'show_broker' %}">

                {% csrf_token %}
                <input type="hidden" name="bID" value="{{ broker.id }}" >
                <button type="submit" class="buttonEdit">Edit <i class="fas fa-tools"></i></button>
            </form>

            <form method="post" action="{% url 'delete_broker' %}">
                {% csrf_token %}
                <input type="hidden" name="brokerid" value="{{ broker.id }}" >
                <button type="submit" class="buttonDelete" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return false }">
                Delete <i class="fas fa-trash-alt"></i></button>

            </form>
        </td>
        </tr>
      {% endfor %}

 </table>

</div>

<br><br>

{% endblock content %}