{% extends 'Base_Templates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Sold Stock{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 16px;
    padding: 14px;
    background: #fff9d2;
    }

td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    }

.substockHeader {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 16px;
    padding: 14px;
    background: #CAFFC4;
    }

.substockColumn {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    background: #DAFFF6;
    }

tr:nth-child(even) {
    background-color: #FAE2FF;
    }

.buttonEdit
    {
    background-color: #2f960a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    }

.buttonEdit:hover {
    background: #AB0909;
    }



{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block stockSalesBtn %}ClassActive{% endblock stockSalesBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block soldStockBtn %}ClassActive1{% endblock soldStockBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Stock Sales | Sold Stock{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block auctionStockMenu %}{% endblock auctionStockMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<!---------------------------------Search--------------------------------------->
<h3>Search Sold Stocks</h3>

    <form method="get" action="{% url 'search_soldStock' %}">

    <input type="text" name="sText" placeholder="Search Sold Stocks" required>

        <select name="type" required>
            <option value="">----</option>
            <option value="subID">By Catelog ID </option>
            <option value="mainID">By Sub Stock ID</option>
            <option value="dateSold">By Date Sold</option>
            <option value="month">By Sold in searched Month</option>
            <option value="year">By Sold in searched Year</option>
        </select>

        <input type="submit" value="Search">
            <p>*Search by Date : Date Format: YYYY-MM-DD || Search by Month : Date Format: YYYY-MM </p>

    </form>

<h1> Sold Stock Details </h1>

<div style="overflow-x:auto;">
    <table border="1 px solid black">
        <tr>
            <th>SubStock ID</th>
            <th>Catelog ID</th>
            <th class="substockHeader">Grade</th>
            <th class="substockHeader">Date Pre.</th>
            <th class="substockHeader">Status</th>
            <th class="substockHeader">Net.W(kg)</th>
            <th class="substockHeader">Tot.W(kg)</th>
            <th class="substockHeader">No.Pkts</th>
            <th>Price(1kg)</th>
            <th>Tot.Price</th>
            <th>Buyer</th>
            <th>S.Date</th>
            <th>Edit</th>
        </tr>

        {% for sold in soldStocks %}

            {% for sub in subStocks %}

                {% if sub.id == sold.MainID %}

                    <tr>
                        <td>{{ sold.MainID }}</td>
                        <td>{{ sold.SubID }}</td>
                        <td class="substockColumn">{{ sub.grade }}</td>
                        <td class="substockColumn">{{ sub.date_prepared }}</td>
                        <td class="substockColumn">{{ sub.status }}</td>
                        <td class="substockColumn">{{ sub.net_weight }}</td>
                        <td class="substockColumn">{{ sub.total_weight }}</td>
                        <td class="substockColumn">{{ sub.no_of_packets }}</td>
                        <td>{{ sold.price }}</td>
                        <td>{{ sold.total_price }}</td>
                        <td>{{ sold.Buyer }}</td>
                        <td>{{ sold.sold_Date }}</td>

                        <td>
                            <form method="post" action="{% url 'view_soldStock' %}">
                                {% csrf_token %}
                                <input type="hidden" name="soldID" value="{{ sold.id }}"/>
                                <input type="hidden" name="sID" value="{{ sold.MainID }}"/>
                                <input type="submit" value="Edit" class="buttonEdit">
                            </form>
                        </td>
                    </tr>

                {% endif %}

            {% endfor %}

        {% endfor %}

    </table>
</div>

    <br><br>

{% endblock content %}