<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Log Not Sold</title>

    <h1>Not Sold Stocks Log</h1>

<div style="overflow-x:auto;">

    <table border="1 px solid black">

        <th>Time</th>
        <th>Description</th>

        {% for log in Alllog %}
        <tr>
            <td>{{ log.LastUpdated }}</td>
            <td>{{ log.Description }}</td>
        </tr>
        {% endfor %}

    </table>

</div>



{#        log = Auction_NotSoldStocksLog.objects.all()#}
{#    detailsSt = Auction_RePreparedNotSoldStocksDetails.objects.all()#}
{##}
{#    return render(request, 'auctionNotSoldLog.html', {'Alllog':log, 'Details': detailsSt })#}


</head>
<body>

</body>
</html>