{% extends 'AuctionStock_Teamplates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Current Stock{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    background: #fff9d2;
    }

td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 16px;
    padding: 15px;
    }

tr:nth-child(even) {
    background-color: #f3f2ee;
    }

.buttonEdit
    {
    background-color: #2f960a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    }

.buttonDelete {
    margin-top: 15px;
    background-color: #ff6d00;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    }

.buttonEdit:hover {
    background: #25ff79;
    }

.buttonDelete:hover{
    background: red;
    }

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block stockSalesBtn %}ClassActive{% endblock stockSalesBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block currentStockBtn %}ClassActive1{% endblock currentStockBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Stock Sales | Current Stock{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block auctionStockMenu %}{% endblock auctionStockMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}


<!---------------------------------Search--------------------------------------->
<h3>Search Current Sub Stock</h3>

    <form method="get" action="{% url 'search_currentSubStock' %}">

    <input type="text" name="sText" placeholder="Search Current Sub Stocks" required>

        <select name="type" required>
            <option value="">----</option>
            <option value="subID">By Catelog ID </option>
            <option value="mainID">By Sub Stock ID</option>
            <option value="date">By Date</option>
            <option value="month">By Month</option>
            <option value="year">By Year</option>
        </select>

        <input type="submit" value="Search">
            <p>*Search by Date : Date Format: YYYY-MM-DD || Search by Month : Date Format: MM-DD </p>

    </form>


<!-- Table -->
<h1>Current Stock Details</h1>

<div style="overflow-x:auto;">
    <table border="1 px solid black">

    <th>Sub Stock ID</th>
    <th>Catelog ID</th>
    <th>Invoice</th>
    <th>No of Packeges</th>
    <th>Net Weight</th>
    <th>Total Weight</th>
    <th>Grade</th>
    <th>Packet Type</th>
    <th>Date Prepared</th>
    <th>Current Status</th>
    <th>Edit</th>

    {% for stk in stock %}

        <tr>
            <td>{{ stk.id }}</td>
            <td>{{ stk.SubID }}</td>
            <td>{{ stk.invoice }}</td>
            <td>{{ stk.no_of_packets }}</td>
            <td>{{ stk.net_weight }}</td>
            <td>{{ stk.total_weight }}</td>
            <td>{{ stk.grade }}</td>
            <td>{{ stk.packetType }}</td>
            <td>{{ stk.date_prepared }}</td>
            <td>{{ stk.status }}</td>

            <td>
                <form method="post" action="{% url 'view_addSoldStock' %}">
                    {% csrf_token %}
                    <input type="hidden" name="mID" value="{{ stk.id }}"/>
                    <input type="submit" value="Sold" class="buttonEdit">
                </form>

                <form method="post" action="{% url 'add_NotSoldStock' %} ">
                    {% csrf_token %}
                    <input type="hidden" name="mID" value="{{ stk.id }}"/>
                    <input type="hidden" name="sID" value="{{ stk.SubID }}"/>
                    <input type="submit" value="Not Sold" class="buttonDelete" onclick="if (!confirm('Are you sure You Want to Add to Not Sold?.Press Ok To Confirm.')) { return false }">
                </form>
            </td>
        </tr>

    {% endfor %}

</table>

</div>

<br><br>

{% endblock content %}