{% extends 'LeafInventory_templates/leafInventoryBase.html' %}

<!-----title------>
{% block title %}Previous Inventories{% endblock title %}
{#<title>Previous Inventories</title>#}


<!-------style-------->

{% block moreStyles %}
      body {
  background: white;
}
.event__search__floater {
  position: fixed;
  top: 50px;
/*   left:0; */
  right: 50px;
  transition: all ease-in-out 0.2s;
  transform: translate(-50%, -50%);
}

.search__anchor{
  position: relative;
  width:auto;
  height: auto;
/*   TODO: Center anchor */
}
.search__submit {
 opacity:0;
  width: 0px;
}
.search__bar {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  outline:none;
  border:none;
  background: #fff;
  width: 50px;
  height:50px;
  border-radius: 25px;
  opacity: 0;
  z-index:5;
  transition: all 0.2;
  font-size: 1em;
}
.search__bar:hover{
  cursor: pointer;
}
.search__bar:focus {
  width: 250px;
  left:auto;
  opacity: 1;
  cursor: text;
  transition: all 0.2;
  padding-left: 25px;
  padding-right: 70px;
}
.actionbtn{
  width:60%;
  border:0px;
  background:#66bd5a;
  color:white;
}

.actionbtn:hover{
    background:#438a42;
    color:white;
}
.actionbtndlt{
  width:60%;
  border:0px;
  background:#66bd5a;
  color:white;
}
.actionbtndlt:hover{
    background:red;
}
.search__toggler {
  position: absolute;
  width: 60px;
  height: 60px;
  background: green;
  opacity: 1;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  transition: all 0.2s;
}
.search__toggler:hover{
  cursor: pointer;
}
.search__toggler::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right:0;
  bottom:0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.search__toggler::after {
  content: "";
  position: absolute;
  margin: auto;
  top:-5px;
  right:0;
  bottom:0;
  left: -5px;
  width:25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s;
}
.search__bar:focus ~ .search__toggler {
  right: 400px;
  background: #151515;
  z-index: 6;
  transition: all 0.2;
}
.search__bar:focus ~ .search__toggler::before{
  top: 0;
  left: 0;
  width: 25px;
}
.search__bar:focus ~ .search__toggler::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


{% endblock moreStyles %}

<!----header---->
{% block pageContentHeader1 %}Leaf Inventory{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Previous Inventory.{% endblock pageContentHeader2 %}

<!---------active class------>
{% block prevInventoryBtn %}ClassActive{% endblock prevInventoryBtn %}

<!-----------------------------------Messages-------------------------------------->
{% block displayMessage %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}



<!--------main content--------->
{% block content %}
    <div>
  <form id="event-search-form" action="get">
        <input type="text" class="search__bar" placeholder="Search Inventory">
    <input class="search__submit" type="submit">
    <div class="search__toggler"></div>
  </form>
</div>

<div>
<table>
  <tr>
    <th>ID</th>
    <th>In Date</th>
    <th>In Time</th>
    <th>Out Date</th>
    <th>Out Time</th>

    <th>Action</th>
  </tr>
    {% for leaf in leaf %}
  <tr>
    <th>{{ leaf.id }}</th>
      <th>{{leaf.in_Date }}</th>
       <th>{{ leaf.in_Time}}</th>
       <th>{{ leaf.out_Date }}</th>
       <th>{{ leaf.out_Time }}</th>

    <td>
        <form method="post" action=" {% url 'NavigateToUpdateInv' %}">
        {% csrf_token %}
                    <input type="hidden" name="lid" value="{{ leaf.id }}"/>
                    <input type="submit" value="Update" class="actionbtn">
        </form>

        <br>

        <form method="post" action="{% url 'NavigateToInvReport' %}">
        {% csrf_token %}
                    <input type="hidden" name="leafID" value="{{ leaf.id }}"/>
                    <input type="submit" value="report" class="actionbtn" >
        </form>

        <br>

        <form method="post" action=" {% url 'delete_leaf' %}">
        {% csrf_token %}
                    <input type="hidden" name="leafid" value="{{ leaf.id }}"/>
                    <input type="submit" value="Delete" class="actionbtndlt" onclick="if(!confirm('Are you sure? click yes to delete')){return false }">
        </form>
    </td>
  </tr>
    {% endfor %}
</table>
</div>

{% endblock content %}
