{% extends 'Base_Templates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Tea Grades{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.addBtn
{
    background-color:#C00000 ;
    color: white;
    font-weight:bold;
    padding: 5px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
}

.addBtn:hover
{
    background-color:#DFDE12;
    color: black;
}

.doneBtn
{
    background-color:#007103 ;
    color: white;
    font-weight:bold;
    padding: 5px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
}

.doneBtn:hover
{
    background-color:#C00000;
}

.container1, .container2
{
    min-width: 500px;
    width: 80%;
}

.container1
{
    margin-top: 20px;
    background-color: #F5FFED ;
    padding: 10px;
    text-align: center;
}

.container1 h1
{
    background-color:#220068 ;
    color: white;
}

.container2 h1
{
    background-color:#220068 ;
    color: white;
    padding-left: 10px;
}

.container2
{
    background-color: #FFF7ED ;
    padding: 10px;
}

.container2 th
{
    background-color: #CDFFD8;
}
{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block dailyProductionBtn %}ClassActive{% endblock dailyProductionBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block teaGradesBtn %}ClassActive1{% endblock teaGradesBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Tea Grades{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block auctionStockMenu %}{% endblock auctionStockMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<div class="container1">
    <h1>Add Tea Grades</h1>
    <form method="post" action="{% url 'NavigateToTeaGrades' %}">
        {% csrf_token %}

        <label>Add new tea category:</label>
        {{ form.teaGrade }}

       <input type="submit" value="Add" class="doneBtn">

    </form>
</div>

    <br><br>

    <div class="container2">
    <h1>Tea Grades</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Tea Category</th>
                <th>Action</th>
            </tr>
            {% for grade in grade %}
            <tr>
            <td>{{ grade.id }}</td>
                <td>{{ grade.teaGrade }}</td>
                <td><form method="post" action="{% url 'deleteGrade' %}">
                        {% csrf_token %}
                        <input type="hidden" name="grade" value="{{ grade.id }}"/>
                        <input type="submit" value="Delete" class="addBtn"><br>
                    </form></td>
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock content %}