{% load static %}
<!DOCTYPE html>
<html lang="en">

<title>Update User</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'admin/css/adminLeftMenue.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<style>
    body,h1,h2,h3,h4,h5
    {
        font-family: "Poppins", sans-serif;
    }

    body
    {
        font-size:16px;
    }

    .w3-half img
    {
        margin-bottom:-6px;
        margin-top:16px;
        opacity:0.8;
        cursor:pointer
    }

    .w3-half img:hover
    {
        opacity:1;
    }

</style>
<body>

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>

  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>

  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Main Menu</b></h3>
  </div>

  <div class="w3-bar-block">

    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{% url 'factory_home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tea Factory</a>
    <a href="{% url 'teashop_home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tea Shop</a>
    <a href="{% url 'register' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add New User</a>
    <a href="{% url 'view_all_users' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white ClassActive">View All Users</a>
    <a href="{% url 'logout' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>

  </div>

</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Main Menu</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Administration Panel</b></h1>
      <hr style="border:5px solid black" class="w3-round">
    <h1 class="w3-xxxlarge w3-text-red"><b>Update User Details</b></h1>
  </div>

  <!-- Contact -->
    <p>Sub admin can control only factory related operations(Employee management, Supplier Management,
        Transportation & Service Management, Final Production Management). Shop admin can do only Tea shop Management.</p>


      <div class="w3-section">
        <label><b>Username</b></label>
      <input type="text" value="{{ UserDetails.username }}"  class="w3-input w3-border" style="background-color: #fffbd5; cursor: not-allowed;" disabled>
      </div>


    <form method="post" action="{% url 'update_user_details' %}">

    {% csrf_token %}
     <div class="w3-section">
    <label><b>Password</b>
        <input type="hidden" value="{{ UserDetails.username }}" name="un">
        <input type="password" value="{{ UserDetails.password }}" name="pwd" id="pwd" class="w3-input w3-border">

        <input type="checkbox" onclick="ShowPassword('pwd')" class="checkbox"> Show Password
    </label>

        <script>
        function ShowPassword(id)
        {
            var x = document.getElementById(id);

            if(x.type == "password")
            {
                x.type = "text";
            }
            else
            {
                x.type = "password";
            }

        }

        </script>
     </div>

{#    <div class="w3-section">#}
{#    <label><b>User Type</b></label>#}
{#        <input type="text" value="" name="type" class="w3-input w3-border" style="background-color: #fffbd5;  cursor: not-allowed;" disabled >#}
{#    </div>#}

    <div class="w3-section">
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Update User Details</button>
    </div>


    </form>
  </div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
