{% extends 'SalaryManagement_template/employeeBase.html' %}
<!-------------------------Title------------------------->
{% block title %}Edit Employee Funds{% endblock title %}

{% block headImport %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock headImport %}

    {% block pageContentHeader1 %}Ambrosia{% endblock pageContentHeader1 %}
    {% block pageContentHeader2 %}Edit Funds{% endblock pageContentHeader2 %}



{% block content %}
    <div>
    <form method="POST" class="post-form" action="emp_allowance_update{{ Fid }}">

        {% csrf_token %}

        <div class="container">
<br>
            <div class="form-group row">
                <label class="col-sm-l col-form-label"></label>
                <div class="col-sm-4">
                    <h3> Details</h3>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">Allowance By Price:</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                            {{ allowanceForm.allowance_by_price }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="col-sm-l col-form-label">Incentive 1:</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                            {{ allowanceForm.incentive_1 }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">Incentive 2:</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                        {{ allowanceForm.incentive_2 }}
                </div>
                    </td>
                </tr>
            </table>
            <div class="form-group row">
                <label class="col-sm-l col-form-label"></label>
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </div>
        </div>
    </form>

    </div>
{% endblock content %}