{% extends 'leafInventoryBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Add Leaf Inventory{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}


{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block addInventoryBtn %}ClassActive{% endblock addInventoryBtn%}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Leaf Inventory Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Add Leaf Inventory{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}
   <form>
{#      <label for="Inventory_Id">Inventory Id:</label><br>#}
{#      <input type="text" id="InventoryID" name="InventoryID" width="30%"><br><br>#}

      <label for="Date"> In Date:</label><br>
      <input type="date" id="Inv_date" name="Inv_date" width="30%"><br><br>
      <label for="inTime">In time:</label><br>
      <input type="Time" id="In_time" name="In_time" width="30%"><br><br>
      <label for="Tray_ID">Tray Id:</label><br>
      <input type="text" id="humidity" name="humidity" width="30%"><br><br>
      <label for="Temparature">Temparature:</label><br>
      <input type="text" id="temparature" name="temparature" width="30%"><br><br>
      <label for="Stock_Weight">Stock weight (in kg):</label><br>
      <input type="text" id="Stock_weight" name="Stock_weight" width="30%"><br><br>
      <label for="Out_date">Out Date:</label><br>
      <input type="date" id="out_date" name="out_date" width="30%"><br><br>
      <label for="outTime">Out time:</label><br>
      <input type="Time" id="Out_time" name="Out_time" width="30%"><br><br>
      <br><br>
      <button type="submit">Done</button>
    </form>

  </div>

{% endblock content %}