{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Add Auction Stock{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #0b7fd7;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      height: 50px;
      border-radius: 15px;
    }

.buttonEdit:hover {
    background: #e9e444;
    color: #000;
    }

.buttonEdit1
{
  background-color: #0b7fd7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  height: 50px;
  border-radius: 15px;
    }

.buttonEdit1:hover {
    background: #0F0;
    color: #000;
    }

.showTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

.showTable th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    background: #fff9d2;
    }

.showTable td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 20px;
    padding: 15px;
    }

.showTable tr:nth-child(even) {
    background-color: #f8f5f5;
    }

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block addCatelogBtn %}ClassActive1{% endblock addCatelogBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Prepare Catelog{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<h1>Add Sub Stock</h1>

<!-- Form -->
   <form method="post" action="{% url 'auction_stock' %}">

    {% csrf_token %}

       <div class="sectionform">

       <table>
           <tr>
               <td><label><b>Invoice No</b></label></td>
               <td>{{ form.invoice }}</td>
           </tr>

           <tr>
               <td><label><b>Tea Category</b></label></td>
               <td></td>
           </tr>

           <tr>
               <td><label><b>Net Weight(kg)</b></label></td>
               <td>{{ form.net_weight }}</td>
           </tr>

           <tr>
               <td><label><b>Total Weight(kg)</b></label></td>
               <td>{{ form.total_weight }}</td>
           </tr>

           <tr>
               <td><label><b>No of Packeges</b></label></td>
               <td>{{ form.no_of_packets }}</td>
           </tr>

           <tr>
               <td><label><b>Date</b></label></td>
               <td></td>
           </tr>

           <br>
           <tr>
               <td></td>
               <td><button type="submit" class="buttonEdit">Add Sub Stock</button></td></tr>

       </table>

     </div>

    </form>

    <h1>Catelog Details</h1>

    <div style="overflow-x:auto;">

     <table class="showTable">

        <th>StockId</th>
        <th>SubId</th>
        <th>Invoice</th>
        <th>Grade</th>
        <th>Net Weight</th>
        <th>Total Weight</th>
        <th>No of Packeges</th>
        <th>Status</th>
        <th>Update</th>

        <tr>
            <td>1</td>
            <td>S001</td>
            <td>113</td>
            <td>OPA</td>
            <td>282</td>
            <td>285.5</td>
            <td>20</td>
            <td>Pending</td>

            <td>
                <form method="post" action="{% url 'update_catelog' %}">
                    {% csrf_token %}
                    <input type="hidden" name="uname" value="{{ user.username }}"/>
                    <input type="submit" value="Edit" class="buttonEdit">
                </form>
            <br>
                <form method="post" action=" ">
                    {% csrf_token %}
                    <input type="hidden" name="uname" value=""/>
                    <input type="submit" value="Delete" class="buttonEdit">
                </form>
            </td>
        </tr>

     </table>
    </div>

    <br>

    <form method="post" action=" ">
        {% csrf_token %}
        <input type="hidden" name="uname" value=""/>
        <input type="submit" value="Confirm Catelog" class="buttonEdit1">
    </form>

    <br><br>

{% endblock content %}
