{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Add Auction Stock{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #0b7fd7;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      height: 30px;
      border-radius: 15px;
    }

.buttonEdit:hover {
    background: #e9e444;
    color: #000;
    }

.buttonEdit1
{
  background-color: #0b7fd7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  height: 50px;
  border-radius: 15px;
    }

.buttonEdit1:hover {
    background: #0F0;
    color: #000;
    }

.showTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

.showTable th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background: #fff9d2;
    }

.showTable td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    }

.showTable tr:nth-child(even) {
    background-color: #f8f5f5;
    }

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block addCatelogBtn %}ClassActive1{% endblock addCatelogBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Prepare Catelog{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<h1>Add Sub Stock</h1>

<!-- Form -->
   <form method="post" action="{% url 'prepare_auction_stock' %}">

    {% csrf_token %}

       <div class="sectionform">

       <table class="abdTable">
          <tr>
               <td><label><b>Sub Stock ID</b></label></td>
               <td>{{ sid }}</td>
           </tr>

           <tr>
               <td><label><b>Invoice No</b></label></td>
               <td>{{ form.invoice }}</td>
           </tr>

           <tr>
               <td><label><b>Tea Category</b></label></td>
               <td>{{ form.grade }}</td>
           </tr>

           <tr>
               <td><label><b>Net Weight(kg)</b></label></td>
               <td>{{ form.net_weight }}</td>
           </tr>

           <tr>
               <td><label><b>Total Weight(kg)</b></label></td>
               <td>{{ form.total_weight }}</td>
           </tr>

           <tr>
               <td><label><b>No of Packeges</b></label></td>
               <td>{{ form.no_of_packets }}</td>
           </tr>

          <tr>
               <td><label><b>Packet Type </b></label></td>
               <td>{{ form.packetType }}</td>
           </tr>

           <tr>
               <td><label><b>Date Prepared </b></label></td>
               <td>{{ form.date_prepared }}</td>
           </tr>

           <tr>
               <td></td>
               <td><br><button type="submit" class="buttonEdit">Add Sub Stock</button></td></tr>

       </table>

     </div>

    </form>

    <!--------------Errors--------------------------------------->
    {% if form.errors %}

        <div class="errorDisplay" style="background-color: #faff8a; color:#de2020; padding:5px">
            <h3 style="font-weight: bold">{{ form.errors }}</h3>
        </div>

   {% endif %}

    <!--------------Details Table------------------------------------>

    <h1>Catelog Details</h1>

    <div style="overflow-x:auto;">

     <table class="showTable">

        <th>MainId</th>
        <th>SubStockId</th>
        <th>Invoice</th>
        <th>No of Packets</th>
        <th>Net Weight(kg)</th>
        <th>Total Weight(kg)</th>
        <th>Grade</th>
        <th>Packet Type</th>
        <th>Date Prepared</th>
{#        <th>Status</th>#}
        <th>Update</th>

     {% if SubStock.sub %}

         {% for stock in SubStock.sub %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.SubID }}</td>
                <td>{{ stock.invoice }}</td>
                <td>{{ stock.no_of_packets }}</td>
                <td>{{ stock.net_weight }}</td>
                <td>{{ stock.total_weight }}</td>
                <td>{{ stock.grade }}</td>
                <td>{{ stock.packetType }}</td>
                <td>{{ stock.date_prepared }}</td>
{#                <td>{{ stock.status }}</td>#}

                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="stID" value="{{ stock.id }}"/>
                        <input type="submit" value="Edit" class="buttonEdit">
                    </form>
                <br>
                    <form method="post" action="{% url 'delete_subStock' %}">
                        {% csrf_token %}
                        <input type="hidden" name="stID" value="{{ stock.id }}"/>
                        <input type="submit" value="Delete" class="buttonEdit">
                    </form>
                </td>
            </tr>

         {% endfor %}

     {% endif %}

     </table>
    </div>

    <br>

    <!--------------Main Stock Table------------------------------------>

    <h4>No of Sub Stocks:&ensp;{{ SubStock.rowsNo }} </h4>
    <h4>Total Net Weight:&ensp;{{ SubStock.tne }} kg</h4>
    <h4>Total Gross Weight:&ensp;{{ SubStock.tgr }} kg</h4>
    <h4>Total No of Packets:&ensp;{{ SubStock.tpk }}</h4>

    <form method="post" action="{% url 'add_mainStock' %}">
        {% csrf_token %}
        <input type="hidden" name="sid" value="{{ sid }}"/>
        <input type="hidden" name="tnet" value="{{ SubStock.tne }}"/>
        <input type="hidden" name="tgr" value="{{ SubStock.tgr }}"/>
        <input type="hidden" name="tpk" value="{{ SubStock.tpk }}"/>

        <table>
            <tr>
                <td><h4><b>Sub Stock ID :&ensp;</b></h4></td>
                <td><h4>{{ sid }}</h4></td>
            </tr>

            <tr>
                <td><h4><b>Broker</b></h4></td>
                <td>{{ mForm.Broker }}</td>
            </tr>

            <tr>
                <td><h4><b>Date</b></h4></td>
                <td>{{ mForm.Date }}</td>
            </tr>

        </table>

        <input type="submit" value="Confirm Catelog" class="buttonEdit1">

    </form>

    <br><br>

{% endblock content %}
