{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Add Buyer{% endblock title %}


<!------------------------------------Scripts-------------------------------------->
 {% block headImport1 %}

 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire Swash">
 <script src="https://kit.fontawesome.com/f78ce457b0.js" crossorigin="anonymous"></script>

{% endblock %}


<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
{
    background-color: #00BC02;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left:30%;
}


.buttonEdit:hover
{
    background: #e9e444;
    color: #000;
}

.addBuyerformCont h1
{
    text-align: center;
    background-color: #0002A1;
    color: white;
    font-family: 'Berkshire Swash';
}

.addBuyerformCont table
{
    margin-left:10%;
}

.addBuyerformCont
{
    margin-top:30px;
    background-color:#D9E4FF;
    width: 60%;
    min-width: 450px;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block allBuyersBtn %}ClassActive1{% endblock allBuyersBtn %}


<!-----------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Add Buyer <i class="fas fa-people-carry"></i> <i class="fas fa-user-plus"></i>{% endblock pageContentHeader2 %}

<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<div class="addBuyerformCont">

    <h1>Add New Buyer <i class="fas fa-user-plus"></i></h1>
<!-- Form -->
       <form method="POST" action="{% url 'add_buyer' %}">

        {% csrf_token %}

           <div class="sectionform">

           <table>

               <tr>
                   <td><label><b>Buyer Company Name</b></label></td>
                   <td>{{ form.name }}</td>
               </tr>

               <br>

               <tr>
                   <td><label><b>Vat Reg.No</b></label></td>
                   <td>{{ form.vat_regno }}</td>
               </tr>

           </table>

         </div>

           <button type="submit" class="buttonEdit">Add Buyer <i class="fas fa-plus-circle"></i></button>

        </form>

        <br>
</div>

{% if form.errors %}

    <div class="errorDisplay" style="background-color: #faff8a; color:#de2020; padding:5px">
        <h3 style="font-weight: bold">{{ form.errors }}</h3>
    </div>

{% endif %}

{% endblock content %}