{% extends 'transportationBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Transportation Management{% endblock title %}

<!-------------------------Styles------------------------->
    {% block moreStyles %}


table
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;

    }

    th
    {
      border: 1px solid #dddddd;
      text-align: center;
      font-size: 15px;
      padding: 18px;
      background: #fac56e;
    }

    td
    {
      border: 1px solid #d0f3d0;
      text-align: left;
      font-size: 20px;
      padding: 15px;
    }

    tr:nth-child(even)
    {
      background-color: #c5f1b8;
    }

  .btn {
    background-color: #34b006;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;
}

   .btn:hover {
  background-color: #000000;
  color: #77fd01;
}
    .btn1 {
    background-color: #fd4201;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;

}

   .btn1:hover {
  background-color: #000000;
  color: #fd4201;
}


.regButton {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


    {% endblock moreStyles %}

 {% block recordsBtn %}ClassActive{% endblock recordsBtn %}

{% block pageContentHeader1 %}Transportation Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Add Driver{% endblock pageContentHeader2 %}


     {% block RepairMenu %}{% endblock RepairMenu %}
     {% block OilMenu %}{% endblock OilMenu %}

{% block addDriverBtn %}ClassActive1{% endblock addDriverBtn %}

{% block content %}
    <br><br>

    {% if messages %}
       {% for message in messages %}
          <script>alert("{{ message }}");</script>
    {% endfor %}
    {% endif %}

  <!--Add Driver Details Form-->
  <div style="padding-left: 20px;">
    <table style=" padding: 10px 10px 10px 10px; background-color: #c5f1b8; width: 50%">
        <form action="{% url 'Transport' %}" method="post">
            {% csrf_token %}

      <tr>
      <td style="padding-bottom: 10px;"><label for="" style="font-size: 20px;">Licence No:</label></td>
      <td>&emsp;{{ VDform.driverForm.licence_no}}</td>
      </tr>
      <tr>
      <td style="padding-bottom: 10px;"><label for="status" style="font-size: 20px;">EPF No:</label></td>
      <td>&emsp;{{ VDform.driverForm.epfNo}}</td>
      </tr>

      <tr>
      <td></td>
      <td>
          <input class="regButton" type="submit" value="ADD">

      </td>
      </tr>

        </form>
    </table>

    <br><br><br>
  </div>

  <!-- Driver Details Table-->

 <div>
    <table>

        <th>ID</th>
        <th> Licence No </th>
        <th> EPF No</th>
        <th> Delete </th>
        <th>Edit</th>


            {% for driver in AllDriver %}
        <tr>

            <td>{{ driver.id }}</td>
            <td>{{ driver.licence_no}} </td>
            <td>{{ driver.epfNo}}</td>

         <form method="post" action=" {% url 'delete_Driver_record' %}">
                    {% csrf_token %}
             <input type = "hidden" name="id" value="{{ driver.id }}"/>
             <td><input type="submit" class = "btn" value="Delete" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return false }" />

         </form>

          <form method="post" action=" {% url 'ShowDriver' %}">
                    {% csrf_token %}
             <input type = "hidden" name="Did" value="{{ driver.id }}"/>
             <td><input type="submit" class = "btn1" value="Update"></td>

         </form>


        </tr>

        {% endfor %}

    </table>

      {% if VDform.driverForm.errors %}

          <div class="errorDisplay" style="background-color: #faff8a; color:#de2028; padding: 5px; ">
              <h3 style="font-weight: bold">{{ VDform.driverForm.errors }}</h3>
          </div>
      {% endif %}
</div>

{% endblock content %}