{% extends 'supplierBase.html' %}

<!-------page title------->
{% block title %}View Supplier Details{% endblock title %}

<!-------start of styles------->
{% block moreStyles %}

#tablepad
{
    padding-left: 18px;
}

table {
  //font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #99ffbb;
}
tr:nth-child(even) {
  background-color: #ccffdd;
}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #ff3333; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
{% endblock moreStyles %}
<!-------end of styles------->

<!-------Header 1 and 2 captions------->
{% block pageContentHeader1 %}Supplier Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Registered Suppliers{% endblock pageContentHeader2 %}


<!----Error Display---->


<!-------start of main content block------->
{% block content %}


  <a id="tablepad" href="{% url 'S_SupRegistration' %}"><input class="regButton" type="submit" value="+  Add New Supplier" onclick="w3_close()"></a>

  <!--View DailyStock Details Table-->
  <div id="tablepad"><br>
    <table>
      <tr>
        <th>Supplier ID</th>
        <th>ProPic</th>
        <th>NIC</th>
        <th>Supplier Name</th>
        <th>Contact No</th>
        <th>Action</th>

      </tr>
        {% for sup in Sup %}
      <tr>
        <td>{{ sup.id }}</td>
        <td><img src="{{ sup.proPic.url }}" style="width: 100%; float: left; margin-right: 10px;"></td>
        <td>{{ sup.nicNo }}</td>
        <td>{{ sup.Sup_Name }}</td>
        <td>{{ sup.phone }}</td>
        <td>
            <div style="display: flex;">
            <form method="post" action="{% url 'S_ViewSupProfile' %}">
            {% csrf_token %}
                    <input type="hidden" name="supid" value="{{ sup.id }}">
                    <input class="regButton" type="submit" value="View">
            </form>
            <form method="post" action="{% url 'S_DeleteSupplier' %}">
            {% csrf_token %}
                    <input type="hidden" name="supid" value="{{ sup.id }}">
                    <input class="remvButton" type="submit" value="Delete">
            </form>
            </div>
        </td>
      </tr>
        {% endfor %}
    </table>
    <br><br><br><br>
  </div>

  </div>

{% endblock content %}
<!-- End page content -->

