{% extends 'SalaryManagement_template/employeeBase.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}Employee Attendance Management{% endblock title %}

<body>

</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Ambrosia</b></h1>
    <h1 class="w3-xxxlarge w3-text-green"><b>Attendance Management</b></h1>
      <a href="{% url 'mark_attendance' %}"><input class="addButton" type="submit" value="Mark Attendance" onclick="w3_close()"></a>
  </div>
<br>
    <div>
        <div class="event__search__floater">
        <div class="search__anchor">
          <form id="event-search-form" action="get">
                <input type="text" class="search__bar" placeholder="Search Employee">
            <input class="search__submit" type="submit">
            <div class="search__toggler"></div>
          </form>
          </div>
        </div>
        <table>
          <tr>
            <th style="text-align: center;">Year . Date</th>
          </tr>
          </table>
        <table class = "table table-striped table-bordered table-sm">
            <thread class = "thread-dark">
            <tr>
              <th>NIC</th>
              <th>EPF No</th>
              <th>Name</th>
              <th>Working Days</th>
            </tr>
            <tr>
              </thread>
              <td>56</td>
              <td>712345678V</td>
              <td>Saman Kumara</td>
              <td>0712345678</td>
            </tr>
        </table>
    </div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
