{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Auction Stock Details{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #2f960a;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 70%;
      border-radius: 15px;
    }

.buttonDelete {
    margin-top: 15px;
    background-color: #ff6d00;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 70%;
    border-radius: 15px;
    }

.buttonEdit:hover {
    background: #25ff79;
    }

.buttonDelete:hover{
    background: red;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    background: #fff9d2;
    }

td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 20px;
    padding: 15px;
    }

tr:nth-child(even) {
    background-color: #f8f5f5;
    }

{% endblock moreStyles %}

<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Catelogs{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block showCatelogBtn %}ClassActive1{% endblock showCatelogBtn %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<!-- Table -->
<h1>Catelog Details</h1>

    <div style="overflow-x:auto;">

     <table>

        <th>StockId</th>
        <th>SubId</th>
        <th>Total Net Weight</th>
        <th>Total Weight</th>
        <th>Total No of Packeges</th>
        <th>Date</th>
        <th>Broker</th>
        <th>Update</th>

        <tr>
            <td>1</td>
            <td>S001</td>
            <td>250</td>
            <td>280</td>
            <td>120</td>
            <td>2020.09.10</td>
            <td>A.B.B Brokers</td>


            <td>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="uname" value="{{ user.username }}"/>
                    <input type="submit" value="View" class="buttonEdit">
                </form>

        </tr>

     </table>
    </div>

{% endblock content %}
