{% extends 'AuctionStock_Teamplates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Current Production{% endblock title %}

<!------------------------------------Scripts------------------------------------->
{% block headImport %}

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
    <script type="text/javascript">

        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: false, // change to true
            title:{

            },
            data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: [
                    { label: "BOP",  y: 200  },
                    { label: "BOPF", y: 130  },
                    { label: "FFS", y: 45  },
                    { label: "PKA",  y: 78  },
                    { label: "GGR",  y: 500 }
                ]
            }
            ]
        });
        chart.render();

        }

    </script>

{% endblock headImport %}


<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
  box-sizing: border-box;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block dailyProductionBtn %}ClassActive{% endblock  %}


<!-------------------------Body Sub Menue------------------------->
{% block currentProductionBtn %}ClassActive1{% endblock currentProductionBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Current Production{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block auctionStockMenu %}{% endblock auctionStockMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

    <br>
        <!--current product content-->
        <center>
      <div>
              <table>
                  <tr>
                      <td><b>Date :</b></td>
                      <td>20202020202</td>
                  </tr>
                  <tr>
                      <td><b>Total weight :</b></td>
                      <td>2020202kg</td>
                  </tr>

              </table>

          <br>

              <table>
                  <tr>
                    <th>Tea Category (Grade)</th>
                    <th>Weight</th>

                  </tr>
                  <tr>
                      <td>BOPF</td>
                      <td>200 kg</td>
                  </tr>
            </table>

      </div>

    </center>
        <br>
    <center>
            <div id="chartContainer" style="height: 370px; width: 50%;"></div>
    </center>


{% endblock content %}

