{% extends 'shopInventoryBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Tea Shop Inventory Management{% endblock title %}

<!-------------------------Head------------------------->
    {% block headImport %}

    {% endblock headImport %}

{% block pageContentHeader1 %}Sales Inventory Management{% endblock pageContentHeader1 %}

{% block pageContentHeader2 %}Edit Tea Pakctes{% endblock pageContentHeader2 %}

{% block viewteabtn %}ClassActive{% endblock viewteabtn %}

{% block content %}

<!-- form -->
  <br>
    <form method="post" action="{% url 'updatepackets' %}">
    {% csrf_token %}

        <input type="hidden" name="pktid" value="{{ PID }}">

	<div class="form-group">
		<label for="email">Date:</label>
        {{ pForm.date }}
	</div>
	<br>
	<div class="form-group">
		<label for="email">category:</label>
		{{ pForm.category }}
	</div>
	<br>
	<div class="form-group">
		<label for="email">Category Weight:</label>
		{{ pForm.weight }}
	</div>
	<br><br>
		<div class="form-group">
		<label for="email">Number of packets:</label>
		{{ pForm.noOfPackets }}
	</div>
	<br>
	<div class="form-group">
        <input type="submit" class="btn1" value="SAVE">
	</div>
	<br>
</form>
<!-- End page content -->
{% endblock content %}