{% extends 'shopInventoryBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Tea Shop Inventory Management{% endblock title %}

<!-------------------------Head------------------------->
{% block headImport %}

{% endblock headImport %}

{% block pageContentHeader1 %}Sales Inventory Management{% endblock pageContentHeader1 %}

{% block pageContentHeader2 %}Edit Pre-order Level{% endblock pageContentHeader2 %}

{% block levelbtn %}ClassActive{% endblock levelbtn %}

{% block content %}
    <!-- form -->
    <br>
    <form method="post" action={% url 'preorderlevel' %}>

        {%  csrf_token %}

        <br>

        <input type="hidden" name="pktid" value="{{ PID }}">
        <div class="form-group">
            <label for="preorder_level">Pre-order Level: </label>

            {{ pForm.preorder_level }}
            <br>
        </div>

        <br><br>
        <div class="form-group">

            <button type="submit" class="btn1">SAVE</button>

        </div>
        <br>
    </form>
    <!-- End page content -->
    </div>


{% endblock content %}
