{% extends 'employeeBase.html' %}
<!-------------------------Title------------------------->
{% block title %}Employee Salary{% endblock title %}

{% block headImport %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock headImport %}


{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}

{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Calculating salary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_final_salary_view' %}">Final Salary View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_epf_view' %}">EPF view</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_etf_view' %}">ETF view</a>
    </li>
  </ul>
</nav>
<br>
<br>
     <div>
     <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
         <tr>
             <th>ID</th>
             <th>NIC</th>
             <th>Name</th>
             <th>EPF number</th>
             <th>Date of Attend</th>
             <th>Basic Salary</th>
         </tr>
        </thead>
        {% for emp in employee%}
        <tr>
            <td>{{ emp.id}}</td>
            <td>{{ emp.nic }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.epfNo}}</td>
            <td>{{ emp.doa}}</td>
            <td>{{ emp.basicSalary}}</td>
            <td>
                <form method="post" action="{% url 'emp_salary_single_view' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ emp.id }}" name="e_id">
                    <input type="submit" value="View Salary Details" class="btn btn-success">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
 </div>


{% endblock content %}