{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">

<head>

<meta charset="UTF-8">
    <title>Tea Factory Home Page</title>

<link href="{% static 'css/adminHome.css' %}" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<!-- logo --->
<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
{#<i class="fa fa-spinner fa-spin"></i>#}
{#<i class="fa fa-circle-o-notch fa-spin"></i>#}
{#<i class="fa fa-refresh fa-spin"></i>#}
{#<i class="fa fa-cog fa-spin"></i>#}
{#<i class="fa fa-spinner fa-pulse"></i>#}

<!-- Card Group begin-->
<section id="team" class="pb-5">
    <div class="container">

        <h4 class="section-title h1">Tea Factory Home</h4>

        <div class="row">
            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage1()" >
                        <div class="card-body text-center">
                            <img src="{% static 'images/employeeManagement.png' %}"/>
                            <h1 class="card-title">Employee Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->

            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage2()" >
                        <div class="card-body text-center">
                            <img src="{% static 'images/transport.png' %}"/>
                            <h1 class="card-title">Transportation Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->

            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage3()" >
                        <div class="card-body text-center">
                           <img src="{% static 'images/supplier.png' %}"/>
                            <h1 class="card-title">Supplier Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->

            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                        <div class="card" onclick= "navigatepage4()" >
                            <div class="card-body text-center">
                            <img src="{% static 'images/finalproduction.png' %}"/>
                            <h1 class="card-title">Final Production Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->

                        <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage5()" >
                        <div class="card-body text-center" >
                            <img src="{% static 'images/leaf.png' %}"/>
                            <h1 class="card-title">Leaf Inventory Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->


                        <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage6()" >
                        <div class="card-body text-center" >
                            <img src="{% static 'images/logout.png' %}"/>
                            <h1 class="card-title">Logout</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->


        </div>

    </div>

</section>
<!-- Card Group end-->

    <script>
        function navigatepage1()
        {
            window.location.href = "{% url 'attendance_management' %}"
        }
        {#function navigatepage2()#}
        {##}
        {#    window.location.href = "{% url '' %}"#}
        {##}
        {#function navigatepage3()#}
        {##}
        {#    window.location.href = "{% url '' %}"#}
        {##}


        {#function navigatepage3()#}
        {#{#}
        {#       window.location.href = "{% url 'S_AllRegisteredSuppliers' %}"#}

        {#function navigatepage4()#}
        {#{#}
        {#    window.location.href = "{% url 'final_production_home' %}"#}

        {##}
        {#function navigatepage5()#}
        {#{#}
        {#    window.location.href = "{% url 'AddInventory' %}"#}


        function navigatepage6()
        {
            window.location.href = "{% url 'logout' %}"
        }

    </script>

</body>
</html>
