{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Analysis{% endblock title %}


<!-------------------------Head------------------------->
{% block headImport %}

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Auction Stock Analysis"
        },
        data: [
        {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",
            dataPoints: [
                { label: "OPA",  y: 10  },
                { label: "OP", y: 15  },
                { label: "BOP", y: 25  },
                { label: "FF",  y: 30  },
                { label: "BOPF",  y: 28  }
            ]
        }
        ]
    });
    chart.render();

    }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            packages: ['corechart']
        });
    </script>

    <script language="JavaScript">
        function drawChart() {
            /* Define the chart to be drawn.*/
            var data = google.visualization.arrayToDataTable([
                ['Page Vist', 'Students Tutorial'],
                ['2012', 10000],
                ['2013', 23000],
                ['2014', 46000],
                ['2015', 49000],
                ['2016', 55000],
                ['2017', 100000]
            ]);
            var options = {
                title: 'Page visit per year',
                isStacked: true
            };
            /* Instantiate and draw the chart.*/
            var chart = new google.visualization.BarChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);

    </script>

{% endblock headImport %}


<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}


{% endblock moreStyles %}


<!-------------------------Body Menue------------------------->
{% block analysisBtn %}ClassActive{% endblock analysisBtn %}


<!-------------------------Body Sub Menue------------------------->
{#{% block notSoldStockBtn %}ClassActive1{% endblock notSoldStockBtn %}#}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Analysis{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{#{% block displayMessage %}#}
{##}
{#Display Message#}
{#{% if messages %}#}
{#    {% for message in messages %}#}
{#        <script>alert("{{ message }}");</script>#}
{#    {% endfor %}#}
{#{% endif %}#}
{##}
{#{% endblock displayMessage %}#}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block auctionStockMenu %}{% endblock auctionStockMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<!------------------------------------Horizontal Line------------------------------------------->
<hr style="border:5px solid black" class="w3-round">



<!---------------------------------Chart1--------------------------------------------------->
    <div id="chartContainer" style="height: 370px; width: 50%;"></div>


<!---------------------------------Chart2--------------------------------------------------->
    <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>


{% endblock content %}