{% extends 'Base.html' %}

<!-------------------------Title------------------------->
{% block title %}Final Production Management{% endblock title %}


<!-------------------------Styles------------------------->
{% block headStyles %}

    {% block moreStyles %}{% endblock moreStyles %}

.ClassActive {
    background-color: #8db8e0;
}

.ClassActive1 {
    background-color: #87dbb9;
}

.menuBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menuBar li {
  float: left;
}

.menuBar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 14px 16px;
  text-decoration: none;
}

.menuBar li a:hover {
  background-color: #e9d394;
}

{% endblock headStyles %}


<!-------------------------Body Menue------------------------->
{% block LinksMenuBar %}

  <div class="w3-bar-block">

    <a href="{% url 'final_production_home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block dailyProductionBtn %}{% endblock dailyProductionBtn %}">Daily Production</a>
    <a href="{% url 'auction_stock' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block auctionStockBtn %}{% endblock auctionStockBtn %}">Auction Stock</a>
    <a href="{% url 'stock_sales' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block stockSalesBtn %}{% endblock stockSalesBtn%}">Stock Sales</a>
    <a href="{% url 'production_analysis' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white {% block analysisBtn %}{% endblock analysisBtn %}">Analysis</a>
    <a href="{% url 'factory_home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Factory Home</a>

  </div>

{% endblock LinksMenuBar %}


<!-------------------------Page Content Header------------------------->

{% block pageContentHeader %}

  <!------------------------------------- Header ----------------------------->

  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>{% block pageContentHeader1 %}{% endblock pageContentHeader1 %}</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>{% block pageContentHeader2 %}{% endblock pageContentHeader2 %}</b></h1>
  </div>


    <!-------------------------Menue 1------------------------->

    {% block dailyProductionMenu %}
      <!-- Sub Menu Bar -->
    <div class="menuBar">
        <ul>
        <li><a href="{% url 'final_production_home' %}" class="{% block addDailyProductionBtn %}{% endblock addDailyProductionBtn %}" >Add daily Production</a></li>
        <li><a href="{% url 'NavigateToCustomDailyProd'%}" class="{% block customDailyProductionBtn %}{% endblock customDailyProductionBtn %}" >Custom daily production</a></li>
        <li><a href="{% url 'NavigateToCurrentProd' %}" class="{% block currentProductionBtn %}{% endblock currentProductionBtn %}">Current production</a></li>
        </ul>
    </div>

    {% endblock dailyProductionMenu %}


    <!-------------------------Menue 2------------------------->

    {% block auctionStockMenu %}
      <!-- Sub Menu Bar -->
    <div class="menuBar">
        <ul>
            <li><a href="{% url 'auction_stock' %}" class="{% block addCatelogBtn %}{% endblock addCatelogBtn %}">Prepare A Catelog</a></li>
            <li><a href="{% url 'all_catelog' %}" class="{% block showCatelogBtn %}{% endblock showCatelogBtn %}">Catelog Details</a></li>
            <li><a href="{% url 'all_brokers' %}" class="{% block allBrokersBtn %}{% endblock allBrokersBtn %}">Brokers</a></li>
            <li><a href="{% url 'all_buyers' %}" class="{% block allBuyersBtn %}{% endblock allBuyersBtn %}">Buyers</a></li>
        </ul>
    </div>

    {% endblock auctionStockMenu %}


    <!-------------------------Menue 3------------------------->

    {% block stockSalesMenu %}
      <!-- Sub Menu Bar -->
    <div class="menuBar">
        <ul>
            <li><a href="{% url 'stock_sales' %}" class="{% block currentStockBtn %}{% endblock currentStockBtn %}">Current Stock</a></li>
            <li><a href="{% url 'stock_sold' %}" class="{% block soldStockBtn %}{% endblock soldStockBtn %}">Sold Stock</a></li>
            <li><a href="{% url 'stock_notsold' %}" class="{% block notSoldStockBtn %}{% endblock notSoldStockBtn %}">Not Sold Stock</a></li>
        </ul>
    </div>

    {% endblock stockSalesMenu %}


{% endblock pageContentHeader %}


<!----------------------------------Main Content------------------------------------------->
<!----------------------------------------------------------------------------------------->

{#{% block content %}#}
{#    #}
{#{% endblock content %}#}

<!----------------------------------------------------------------------------------------->
