{% extends 'employeeBase.html' %}
<!-------------------------Title------------------------->
{% block title %}Employee Salary Single View{% endblock title %}


{% block headImport %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock headImport %}

{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_salary_main' %}">Calculating salary</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Final Salary View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_epf_view' %}">EPF view</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'emp_etf_view' %}">ETF view</a>
    </li>
  </ul>
</nav>
    <style>
div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
</style>
<br>

     <div>
     <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
         <tr>
             <th>Allowance ID</th>
             <th>Allowance by Price</th>
             <th>Incentive_1</th>
             <th>Incentive_2</th>
         </tr>
        </thead>
        {% for all in allowance%}
                    <tr>
                        <td>{{ all.id }}</td>
                        <td>{{ all.allowance_by_price }}</td>
                        <td>{{ all.incentive_1 }}</td>
                        <td>{{ all.incentive_2 }}</td>
                    </tr>
    {% endfor %}
    </table>
     <hr>
 </div>
    <div>
                <table>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">Basic Salary</label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                            {{ emp_salary.basic_salary_of_month }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                            <label class="col-sm-l col-form-label">ETF of the month </label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                            {{ emp_salary.etf_of_month }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">EPF of employee </label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                        {{ emp_salary.epf_employee_month }}
                </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">EPF of the employer   </label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                        {{ emp_salary.epf_employer_month }}
                </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">Year </label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                        {{ emp_salary.year }}
                </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group row">
                        <label class="col-sm-l col-form-label">Month </label>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4">
                       {{ emp_salary.month }}
                </div>
                    </td>
                </tr>
            </table>
    </div>

    <form method="post" action="{% url 'emp_final_salary_single_view' %}">
        {% csrf_token %}
        <input type="hidden" name="s_id" value="{{ emp_salary.id }}">

        <div class="scrollmenu">
             <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
         <tr>
             <th>Allowance ID</th>
             <th>Over Time hours</th>
             <th>Loan</th>
             <th>Advance</th>
             <th>Tea Advance</th>
         </tr>
        </thead>
                    <tr>
                        <td><input type="number" name="allowance_id" required></td>
                        <td> <input type="number" name="ot_hours" required><br></td>
                        <td><input type="number" name="loan" required></td>
                        <td><input type="number" name="advance" required></td>
                        <td><input type="number" name="tea_advance" required></td>
                    </tr>
            </table>
        </div>
        <hr>
    <br>
    <input type="submit" value="calculate" class="btn btn-success">
    </form>
<hr>
    <br>
        <form method="post" action="{% url 'emp_final_total_salary_view' %}">
        {% csrf_token %}
        <input type="hidden" name="s_id" value="{{ emp_salary.id }}">
         <label for="all_b_price">Allowance by price:</label><br>
        <input type="number" name="all_b_price" value="{{ final_calculation.all_b_price}}" required><br>
          <label for="incen_1">incentive 1:</label><br>
        <input type="number" name="incen_1" value="{{ final_calculation.incen_1}}" required><br>
          <label for="incen_2">incentive 2:</label><br>
        <input type="number" name="incen_2" value="{{ final_calculation.incen_2}}" required><br>
          <label for="employee_ot_hours">Employee Over Time Hours:</label><br>
        <input type="number" name="employee_ot_hours" value="{{ final_calculation.employee_ot_hours}}" required><br>
          <label for="ot_amount">Over Time Rate:</label><br>
        <input type="number" name="ot_amount" value="{{ final_calculation.ot_amount}}" required><br>
          <label for="employee_loan">Employee Loan:</label><br>
        <input type="number" name="employee_loan" value="{{ final_calculation.employee_loan}}" required><br>
          <label for="employee_advance">Employee Advance:</label><br>
        <input type="number" name="employee_advance" value="{{ final_calculation.employee_advance}}" required><br>
          <label for="employee_tea_advance">Employee Tea Advance:</label><br>
        <input type="number" name="employee_tea_advance" value="{{ final_calculation.employee_tea_advance}}" required><br>
           <label for="total_deduction">Total Deduction:</label><br>
        <input type="number" name="total_deduction" value="{{ final_calculation.total_deduction}}" required><br>
          <label for="total_salary">Total Salary:</label><br>
        <input type="number" name="total_salary" value="{{ final_calculation.total_salary}}" required><br>
    <label for="btn"></label><br>
    <input type="submit" value="Add calculated Salary Details" class="btn btn-success">
            <br>
            <br>
    </form>

<hr>
{% endblock content %}