{% extends 'transportationBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Transportation Management{% endblock title %}

<!-------------------------Styles------------------------->
    {% block moreStyles %}


    table
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th
    {
      border: 1px solid #dddddd;
      text-align: center;
      font-size: 15px;
      padding: 18px;
      background: #e7e5e5;
    }

    td
    {
      border: 1px solid #dddddd;
      text-align: left;
      font-size: 20px;
      padding: 15px;
    }

    tr:nth-child(even)
    {
      background-color: #eae9e7;
    }

  .btn {
    background-color: #34b006;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;
}

   .btn:hover {
  background-color: #000000;
  color: #77fd01;
}
    .btn1 {
    background-color: #fd4201;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;

}

   .btn1:hover {
  background-color: #000000;
  color: #fd4201;
}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

    {% endblock moreStyles %}


 {% block oilBtn %}ClassActive{% endblock oilBtn %}

{% block pageContentHeader1 %}Transportation Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Fuel Log{% endblock pageContentHeader2 %}


     {% block vehicleRecordsMenu %}{% endblock vehicleRecordsMenu %}
     {% block RepairMenu %}{% endblock RepairMenu %}

{% block addOilBtn %}ClassActive1{% endblock addOilBtn %}



{% block content %}

<br><br>
  <!--Add Oil Details Form-->
  <div style="padding-left: 20px;">
    <table  class="formTable">
        <form action ="{% url 'FuelLog' %}" method="post">
            {% csrf_token %}

      <tr>
      <td style="padding-bottom: 10px;"><label for="containerno" style="font-size: 20px;">Container No:</label></td>
      <td>&emsp;{{ OilForm.Container_No }}</td>
      </tr>

      <tr>
      <td style="padding-bottom: 10px;"><label for="vehicleno" style="font-size: 20px;">Vehicle No:</label></td>
      <td>&emsp;{{OilForm.VehicleNo }}</td>
      </tr>

      <tr>
      <td style="padding-bottom: 10px;"><label for="type" style="font-size: 20px;">Type:</label></td>
      <td>&emsp;{{OilForm.type }}</td>
      </tr>

      <tr>
      <td style="padding-bottom: 10px;"><label for="consumedAmount" style="font-size: 20px;">Consumed Amount:</label></td>
      <td>&emsp;{{OilForm.Consumed_Amount}}</td>
      </tr>

      <tr>
      <td style="padding-bottom: 10px;"><label for="price" style="font-size: 20px;">Price:</label></td>
      <td>&emsp;{{OilForm.Price }}</td>
      </tr>

      <tr>
      <td></td>
      <td>
          <input class="regButton" type="submit" value="ADD" >
      </tr>

        </form>



    </table>
  </div>

{% endblock content %}