{% extends 'shopInventoryBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Tea Shop Inventory Management{% endblock title %}

<!-------------------------Head------------------------->
    {% block headImport %}

    {% endblock headImport %}

{% block pageContentHeader1 %}Sales Inventory Management{% endblock pageContentHeader1 %}

{% block pageContentHeader2 %}Reports{% endblock pageContentHeader2 %}

{% block reportbtn %}ClassActive{% endblock reportbtn %}

{% block content %}


 <!-- button -->
 <table>
 <form action = "{% url 'inventoryhome' %}"><th><input type="submit" class="button button3" value="Daily Report"> </th></form>
 <form action = "{% url 'iweekly' %}"><th><input type="submit" class="button button3" value="Weekly Report"> </th></form>
 <form action = "{% url 'monthlyreport' %}"><th><input type="submit" class="button button3" value="Monthly Report"></th></form>
 <form action = "{% url 'annualreport' %}"><th><input type="submit" class="button button3" value="Annual Report"></th></form>

</table>
<!-- End page content -->
</div>

{% endblock content %}
