{% extends 'supplierBase.html' %}


<!-------page title------->
{% block title %}View Payment Details{% endblock title %}


<!-------start of styles------->
{% block moreStyles %}

#tablepad
{
    padding-left: 18px;
}

table {
  //font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #99ffbb;
}
tr:nth-child(even) {
  background-color: #ccffdd;
}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #ff3333; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
{% endblock moreStyles %}
<!-------end of styles------->

<!-------Header 1 and 2 captions------->
{% block pageContentHeader1 %}Supplier Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Payments Details{% endblock pageContentHeader2 %}

<!-------start of main content block------->
{% block content %}
    <a id="tablepad" href="{% url 'S_SupPayments' %}"><input class="regButton" type="submit" value="+  Make New Payment" onclick="w3_close()"></a>


  <!--View DailyvStock Details Table-->
  <div style="padding-left: 20px;"><br>
    <table>
      <tr>
        <th>Supplier NIC</th>
        <th>Payment ID</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
        {% for form in form %}
      <tr>
        <td>{{ form.nic }}</td>
        <td>{{ form.id }}</td>
        <td>{{ form.tot_weight }}</td>
        <td>{{ form.pay_Date }}</td>
        <td>{{ form.pay_Time }}</td>
        <td>
            <form method="post" action="{% url 'S_DeletePay' %}">
              {% csrf_token %}
                      <input type="hidden" name="formid" value="{{ form.id }}">
                      <a href="{% url 'S_PaymentDetails' %}"><input type="submit" value="Delete" class="remvButton"></a>
            </form>
        </td>
      </tr>
        {% endfor %}
    </table>
    <br><br><br><br>
  </div>

<!-- End page content  -->
</div>

{% endblock content %}
<!-- End page content -->