{% extends 'shopInventoryBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Tea Shop Inventory Management{% endblock title %}

<!-------------------------Head------------------------->
    {% block headImport %}

    {% endblock headImport %}

{% block pageContentHeader1 %}Sales Inventory Management{% endblock pageContentHeader1 %}

{% block pageContentHeader2 %}Pre-order Level{% endblock pageContentHeader2 %}

{% block levelbtn %}ClassActive{% endblock levelbtn %}

{% block content %}
  <!-- form -->
  <br>
    <form method="post" action={% url 'addlevel' %}>

        {%  csrf_token %}

	<br>
	<div class="form-group">
		<label for="category">category: </label>
		{{ formA.category }}
    </div>
	<br>
	<div class="form-group">
		<label for="weight">Category Weight: </label>
		{{ formA.weight }}
	</div>
	<br><br>
		<div class="form-group">
		<label for="noofpackets">Pre-order Level: </label>

            {{ formA.preorder_level }}
	<br>
            </div>


	<div class="form-group">

        <button type="submit" class="btn1">ADD</button>

	</div>
	<br>
    </form>

<!-- table -->
<div>
<table>
  <tr>
    <th>Category</th>
    <th>Weight</th>
	<th>Pre-Order Level</th>
     <th>Edit/Delete</th>
  </tr>
    {% for plevel in Bopf %}
  <tr>

    <td>{{ plevel.category }}</td>
    <td>{{ plevel.weight }}</td>
	<td>{{ plevel.preorder_level }}</td>

      <td>

          <form action = "{% url 'editlevel' %}">
              {% csrf_token %}
          <input type="submit" class="btn1" value="Edit">
          </form>

      </td>

  </tr>
    {% endfor %}


    {% for plevel in DUST1 %}
  <tr>

    <td>{{ plevel.category }}</td>
    <td>{{ plevel.weight }}</td>
	<td>{{ plevel.preorder_level }}</td>

      <td>

          <form action = "{% url 'editlevel' %}">
              {% csrf_token %}
          <input type="submit" class="btn1" value="Edit">
          </form>

      </td>

  </tr>
    {% endfor %}

    {% for plevel in DUST2 %}
  <tr>

    <td>{{ plevel.category }}</td>
    <td>{{ plevel.weight }}</td>
	<td>{{ plevel.preorder_level }}</td>

      <td>

          <form action = "{% url 'editlevel' %}">
              {% csrf_token %}
          <input type="submit" class="btn1" value="Edit">
          </form>

      </td>

  </tr>
    {% endfor %}

    {% for plevel in FGS %}
  <tr>

    <td>{{ plevel.category }}</td>
    <td>{{ plevel.weight }}</td>
	<td>{{ plevel.preorder_level }}</td>

      <td>

          <form action = "{% url 'editlevel' %}">
              {% csrf_token %}
          <input type="submit" class="btn1" value="Edit">
          </form>


      </td>

  </tr>
    {% endfor %}

</table>
</div>

<!-- End page content -->


{% endblock content %}
