{% extends 'shopSalesBase.html' %}

<!----title------>
{% block title %}Tea Shop Sales Management{% endblock title %}
<!----title------>

<!-------------------------Head------------------------->
{% block headImport %}

{% endblock headImport %}

<!------------Styles----->


<!-- !PAGE CONTENT! -->
{% block pageContentHeader1 %}Ambrosia Tea Factory Outlet Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}View Bill{% endblock pageContentHeader2 %}

{% block TransactionsBtn %}ClassActive{% endblock TransactionsBtn %}

{%  block content %}

    <div>


    </div>
    <hr>
    <div>

            <table>

            <tr>
                <td>Transaction ID:</td>
                <td>{{ viewT.invoice_id }}</td>
                <td>Date : </td>
                <td>{{ viewT.dateTime }}</td>
                <td>Total Price : </td>
                <td>{{ viewT.total_Price }}</td>

            </tr>

        </table>

        <table>
        <br>
        <br>


            <tr >
                <th > Item Name </th>
                <th > Weight </th>
                <th > Quantity </th>
                <th > Item Price </th>
                <th > Price </th>
                <th>Delete</th>

            </tr>
                {% for item in billItems %}
                    <tr>


                        <td>{{ item.itemname }}</td>
                        <td>{{ item.weight }}</td>
                        <td>{{ item.Quantity }}</td>
                        <td>{{ item.itemPrice }}</td>
                        <td>{{ item.price }}</td>
                        <td>

                            <form method="POST" action="{% url 'Vdelete' %}">
                                {% csrf_token %}
                                <input type="hidden" name="invoiceid" value = "{{ invoice.id }}">
                                <input type="submit" value="Delete" class="btn">
                            </form>
                        </td>
                    </tr>

                {% endfor %}


        </table>


    </div>

    <!-- End page content -->
{% endblock content %}