{% extends 'shopSalesBase.html' %}


<!----title------>
{% block title %}Tea Shop Sales Management{% endblock title %}
<!----title------>

<!-------------------------Head------------------------->
{% block headImport %}

{% endblock headImport %}

<!------------Styles----->






<!-- Sidebar/menu -->


<!-- Top menu on small screens -->


<!-- Overlay effect when opening sidebar on small screens -->

<!-- !PAGE CONTENT! -->
{% block pageContentHeader1 %}Ambrosia Tea Factory Outlet Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Create Invoice{% endblock pageContentHeader2 %}

{% block CreateInvoiceBtn %}ClassActive{% endblock CreateInvoiceBtn %}

{%  block content %}

     <table>
        <form action = "{% url 'SalesHomeIncome' %}"><th><input type="submit" class="button button3" value="Weekly Report"> </th></form>
        <form action = "{% url 'SalesHomeMonthlyIncome' %}"><th><input type="submit" class="button button3" value="Monthly Report"></th></form>
         <form action = "{% url 'SalesHomeAnnuallyIncome' %}"><th><input type="submit" class="button button3" value="Annually Report"></th></form>

    </table>  <br>
    <input type="submit"value="Print Report" class="btn" >


{% endblock content %}
<!-- End page content -->

</body>
</html>

