{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Shop BOPF Price</title>
<link rel="shortcut icon" type="image/png" href="/static/images/logo1.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<head>
    <link rel="stylesheet" href="{% static 'css/Sales.css' %}" media ="screen">
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
      <img src="/static/images/logo1.png" alt="logo" style="width: 250px; height: 200px; margin-left: auto; padding-right: 20px;">
    <h3 class="w3-padding-64"><b>Amborisa<br></b></h3>


  </div>
  <div class="w3-bar-block">
      <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{% url 'SalesCreateInvoice' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create Invoice</a>
    <a href="{% url 'SalesTransaction' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Transactions</a>
    <a href="{% url 'SalesHomeIncome' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Income</a>
    <a href="{% url 'SalesPriceTable' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Price Table</a>

  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Ambrosia Salary Management</b></h1>
    <h1 class="w3-xxxlarge w3-text-green"><b>Price Table</b></h1>

    <hr style="width:50px;border:5px solid #64ff33" class="w3-round">
  </div>




 <form action = "{% url 'SalesPriceTable' %}"><th><input type="submit" class="button button3" value="BOPF"> </th></form>
 <form action = "{% url 'SalesPriceTableDUST1' %}"><th><input type="submit" class="button button3" value="DUST 1"></th></form>
 <form action = "{% url 'SalesPriceTableDUST2' %}"><th><input type="submit" class="button button3" value="DUST 2"></th></form>
 <form action = "{% url 'SalesPriceTableFGS' %}"><th><input type="submit" class="button button3" value="FGS"></th></form>




    <form Action ="{% url 'ShopPriceTableBOPFUpdate' %}">
  <div>
    <h5>BOPF</h5>
    <table>
        <tr>
            <th>Weight</th>
            <th>Price</th>
             <th></th>

        </tr>
        <tr>
            <th>1Kg</th>
            <td>1250.00</td>
              <td ><input type="submit" class = "btn" value="Edit"></td>

        </tr>
        <tr>
            <th>500g</th>
            <td>1250.00</td>
              <td ><input type="submit" class = "btn" value="Edit"></td>

        </tr>
        <tr>
            <th>400g</th>
            <td>1250.00</td>
              <td ><input type="submit" class = "btn" value="Edit"></td>

        </tr>
         <tr>
            <th>250g</th>
            <td>1250.00</td>
               <td ><input type="submit" class = "btn" value="Edit"></td>

        </tr>
         <tr>
            <th>200g</th>
            <td>1250.00</td>
               <td ><input type="submit" class = "btn" value="Edit"></td>

        </tr>


    </table>
  </div>
    </form>



<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"> <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity"></a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
