{% extends 'shopSalesBase.html' %}

<!----title------>
{% block title %}Tea Shop Sales Management{% endblock title %}
<!----title------>

<!-------------------------Head------------------------->
{% block headImport %}

{% endblock headImport %}

<!------------Styles----->


<!-- !PAGE CONTENT! -->
{% block pageContentHeader1 %}Ambrosia Tea Factory Outlet Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Transactions{% endblock pageContentHeader2 %}

{% block TransactionsBtn %}ClassActive{% endblock TransactionsBtn %}

{%  block content %}
        <div>
            <table>


                <tr style="height: 20px;">
                    <th > Transaction ID</th>
                    <th> Total </th>
                    <th > Date and Time</th>
                    <th >  </th>

                </tr>
            {% if tForm %}
                {% for bill in tForm %}

                    <tr style="height: 15px;">
                    <td>{{ bill.invoice_id}}</td>
                    <td>{{ bill.total_Price }}</td>
                    <td>{{ bill.dateTime }}</td>

                    <td >
                         <form action="{% url 'SalesViewBill' %}" method="post">
                             {% csrf_token %}
                             <input type="hidden" name = "invID" class = "btn" value="{{ bill.invoice_id }}">
                             <input type="hidden" name = "trID" class = "btn" value="{{ bill.id }}">
                             <input type="submit" class = "btn" value="View">
                              </form>
                    </td>

                </tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>

{% endblock content %}
<!-- End page content -->

