{% extends 'shopSalesBase.html' %}

<!----title------>
{% block title %}Tea Shop Sales Management{% endblock title %}
<!----title------>

<!-------------------------Head------------------------->
{% block headImport %}

{% endblock headImport %}

<!------------Styles----->


<!-- !PAGE CONTENT! -->
{% block pageContentHeader1 %}Ambrosia Tea Factory Outlet Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Price Table{% endblock pageContentHeader2 %}

{% block SalesTableBtn %}ClassActive{% endblock SalesTableBtn %}

{%  block content %}
    <h3> Add Items</h3>
    <form method ="POST" action="{% url 'SalesPriceTable' %}">
        {% csrf_token %}
        <table>

            <tr>
                <td><label>Category :</label></td>
                <td>{{ form.category }}</td>
            </tr>

            <tr>
                <td><label>Weight : </label></td>
                <td>{{ form.weight }}</td>
            </tr>

            <tr>
                <td><label >Price : </label></td>
                <td>{{ form.price }}</td>
            </tr>


            <tr>
                <td>
                    <input type="submit" value="Add Item" class="btn" onclick="if (!confirm('Are you sure you want to Add? Please Ok to Confirm.')) {return false}">
                </td>
            </tr>

        </table>
    </form>
    <div>
        <table>

            <th>Id</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Edit</th>

            {% for priceTable in prices %}
                <tr>
                    <td>{{ priceTable.id }}</td>
                    <td>{{ priceTable.category }}</td>
                    <td>{{ priceTable.weight }}</td>
                    <td>{{ priceTable.price }}</td>
                    <td>
                        <form method="POST" action="{% url 'ShopPriceTableUpdate' %}">
                            {% csrf_token %}
                            <input type="hidden" name="priceID" value = "{{ priceTable.id }}">
                            <input type="submit" value="Update" class="btn" onclick="if (!confirm('Are you sure you want to Update? Please Ok to Confirm.')) {return false}">

                        </form>

                    </td>

                </tr>

            {% endfor %}
        </table>




    </div>



{% endblock content %}
<!-- End page content -->
