{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<link rel="shortcut icon" type="image/png" href="/static/images/logo1.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<head>
    <link rel="stylesheet" href="{% static 'css/Sales.css' %}" media ="screen">

<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "week"
	},
	axisX:{
		minimum: 0,
		maximum: 10000
	},
	data: [{
		type: "column",
		dataPoints: [
			{ x: 1000, y: 71 },
			{ x: 2000, y: 55 },
			{ x: 3000, y: 50 },
			{ x: 4000, y: 65 },
			{ x: 5000, y: 95 },
			{ x: 6000, y: 68 },
			{ x: 7000, y: 28 },
			{ x: 8000, y: 34 },
			{ x: 9000, y: 14 }
		]
	}]
});
chart.render();

var xSnapDistance = chart.axisX[0].convertPixelToValue(chart.get("dataPointWidth")) / 2;
var ySnapDistance = 3;

var xValue, yValue;

var mouseDown = false;
var selected = null;
var changeCursor = false;

var timerId = null;

function getPosition(e) {
	var parentOffset = $("#chartContainer > .canvasjs-chart-container").offset();
	var relX = e.pageX - parentOffset.left;
	var relY = e.pageY - parentOffset.top;
	xValue = Math.round(chart.axisX[0].convertPixelToValue(relX));
	yValue = Math.round(chart.axisY[0].convertPixelToValue(relY));
}

function searchDataPoint() {
	var dps = chart.data[0].dataPoints;
	for(var i = 0; i < dps.length; i++ ) {
		if( (xValue >= dps[i].x - xSnapDistance && xValue <= dps[i].x + xSnapDistance) && (yValue >= dps[i].y - ySnapDistance && yValue <= dps[i].y + ySnapDistance) )
		{
			if(mouseDown) {
				selected = i;
				break;
			} else {
				changeCursor = true;
				break;
			}
		} else {
			selected = null;
			changeCursor = false;
		}
	}
}

jQuery("#chartContainer > .canvasjs-chart-container").on({
	mousedown: function(e) {
		mouseDown = true;
		getPosition(e);
		searchDataPoint();
	},
	mousemove: function(e) {
		getPosition(e);
		if(mouseDown) {
			clearTimeout(timerId);
			timerId = setTimeout(function(){
				if(selected != null) {
					chart.data[0].dataPoints[selected].y = yValue;
					chart.render();
				}
			}, 0);
		}
		else {
			searchDataPoint();
			if(changeCursor) {
				chart.data[0].set("cursor", "n-resize");
			} else {
				chart.data[0].set("cursor", "default");
			}
		}
	},
	mouseup: function(e) {
		if(selected != null) {
			chart.data[0].dataPoints[selected].y = yValue;
			chart.render();
			mouseDown = false;
		}
	}
});

}
</script>

</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
      <img src="/static/images/logo1.png" alt="logo" style="width: 250px; height: 200px; margin-left: auto; padding-right: 20px;">
    <h3 class="w3-padding-64"><b>Ambroshia<br></b></h3>
  </div>
  <div class="w3-bar-block">
       <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{% url 'SalesCreateInvoice' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create Invoice</a>
    <a href="{% url 'SalesTransaction' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Transactions</a>
    <a href="{% url 'SalesHomeIncome' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Income</a>
    <a href="{% url 'SalesPriceTable' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Price Table</a>

  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Ambrosia Salary Management</b></h1>
    <h1 class="w3-xxxlarge w3-text-green"><b>Income</b></h1>

    <hr style="width:50px;border:5px solid #64ff33" class="w3-round">
  </div>
  <!------code------->
         <table>
        <form action = "{% url 'SalesHomeIncome' %}"><th><input type="submit" class="button button3" value="Weekly Report"> </th></form>
        <form action = "{% url 'SalesHomeMonthlyIncome' %}"><th><input type="submit" class="button button3" value="Monthly Report"></th></form>
         <form action = "{% url 'SalesHomeAnnuallyIncome' %}"><th><input type="submit" class="button button3" value="Annually Report"></th></form>

    </table>
    <br>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <br>
    <input type="submit"value="Print Report" class="btn" >

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"> <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity"></a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>

