<!DOCTYPE html>
<html lang="en">
<title>Supplier Payments</title>
<link rel="shortcut icon" type="image/png" href="/static/images/logo1.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="styles/itp.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

/*newly added CSS for the table*/

.td, .th {
  border: 1px solid #000000;
  text-align: center;
  padding: 6px;
}

.tr:nth-child(odd) {
  background-color: #9e9696d2;
}
.tr:nth-child(even) {
  background-color: #ddddddd2;
}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #FF0000; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

</style>
<body style="background-color: #E4FBDE;">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <br><br><div class="w3-container">
    <!--Company Logo-->
    <img src="/static/images/logo1.png" alt="logo" style="width: 250px; height: 200px; margin-left: auto; padding-right: 20px;">
    <h3 class="w3-padding-64"><b>Ambrosia<br></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'S_AllRegisteredSuppliers' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profiles</a>
    <a href="{% url 'S_SupRegistration' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Registration</a>
    <a href="{% url 'S_StockDetails' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Stock</a>
    <a href="{% url 'S_SupPayments' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Payments</a>
    <!--<a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Salary</a> -->
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Niyandagala “Ambroshia” Tea</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 style="font-size: 48px;"><b>Supplier Management</b></h1>
    <h1 class="w3-text-green" style="font-size: 24px;"><b>Supplier Payment Details</b></h1>
    <!--<hr style="width:50px;border:5px solid #64ff33" class="w3-round">-->
  </div>

  <!--Supplier Registration Form
  <div style="padding-left: 20px;">
    <table style=" padding: 20px 20px 20px 20px; background-color: #95ED7D;">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="name" style="font-size: 20px;">Name</label></td>
      <td>&emsp;<input type="text" id="name" name="name" ></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="nicno" style="font-size: 20px;">NIC No</label></td>
      <td>&emsp;<input type="text" id="nicno" name="nicno"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Address</label></td>
      <td>&emsp;<input type="text" id="address" name="address"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="contact" style="font-size: 20px;">Contact No</label></td>
      <td>&emsp;<input type="text" id="contact" name="contact"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="email" style="font-size: 20px;">Email Address</label></td>
      <td>&emsp;<input type="text" id="email" name="email"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="dob" style="font-size: 20px;">Date of Birth</label></td>
      <td>&emsp;<input type="text" id="dob" name="dob"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="date" style="font-size: 20px;">Date Commenced</label></td>
      <td>&emsp;<input type="text" id="date" name="date"></td>
      </tr>
      <tr>
        <td style="padding-bottom: 5px;"><label for="date" style="font-size: 20px;">Add a Supplier Photo</label></td>
        <td>&emsp;<input type="file" id="file"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="estate" style="font-size: 20px;">Estate Name</label></td>
      <td>&emsp;<input type="text" id="estate" name="estate"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="route" style="font-size: 20px;">Route</label></td>
      <td>&emsp;<select id="route" name="route">
        <option value="pw">PW</option>
        <option value="br">BR</option>
        <option value="bnr">BNR</option>
      </select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="ss" style="font-size: 20px;">Supply Scale</label></td>
      <td>&emsp;<select id="ss" name="ss">
        <option value="smallscale">Small-Scale</option>
        <option value="largescale">Large-Scale</option>
      </select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="paytyme" style="font-size: 20px;">Payment Type</label></td>
      <td>&emsp;<select id="paytyme" name="paytyme">
        <option value="smallscale">Cash</option>
        <option value="largescale">Check</option>
        <option value="smallscale">Bank Deposit</option>
      </select></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="bank" style="font-size: 20px;">Bank</label></td>
      <td>&emsp;<input type="text" id="bank" name="bank"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="accno" style="font-size: 20px;">Account No</label></td>
      <td>&emsp;<input type="text" id="accno" name="accno"></td>
      </tr>
      <tr>
      <td></td>
      <td><br>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&ensp;&ensp;<a href="AllRegisteredSuppliers.html"><input class="regButton" type="button" value="Submit" onclick="w3_close()"></a><input class="remvButton" type="submit" value="Cancel"></td>
      </tr>
    </table>
    <br><br><br><br>
  </div>
  -->

  <div class="Container" style="padding: 20px;">
    <div class="row">
      <div class="w3-half" style="background-color: #95ED7D;">
        <table style="width: 100%; padding: 20px 20px 20px 20px; background-color: #95ED7D;">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
          <td style="padding-bottom: 5px;"><label for="name" style="font-size: 20px;">Supplier ID</label></td>
          <td>&emsp;<input type="text" id="name" name="name" ></td>
          </tr>
          <tr>
          <td style="padding-bottom: 5px;"><label for="nicno" style="font-size: 20px;">Name</label></td>
          <td>&emsp;<input type="text" id="nicno" name="nicno"></td>
          </tr>
          <tr>
          <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Total Kilograms</label></td>
          <td>&emsp;<input type="text" id="address" name="address"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Price per Kilogram</label></td>
            <td>&emsp;<input type="text" id="address" name="address"></td>
            </tr>
            <tr>
              <td style="background-color: #95ED7D;">&nbsp;</td>
              <td style="background-color: #95ED7D;">&nbsp;</td>
            </tr>
        </table>
        <br>
      </div>
      <div class="w3-half" style="background-color:lawngreen">
        <table style="width: 100%; padding: 20px 20px 20px 20px; background-color: #95ED7D;">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;"><label for="address" style="font-size: 20px;">Date & Time</label></td>
            <td>&emsp;<input type="datetime-local" id="receiveddatetime" name="receiveddatetime" style="font-size: 20px;"></td>
            </tr>
          <tr>
            <td style="padding-bottom: 5px;"><label for="nicno" style="font-size: 20px;">Additions (+)</label></td>
            <td>&emsp;<input type="text" id="nicno" name="nicno"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Expenses (-)</label></td>
            <td>&emsp;<input type="text" id="address" name="address" placeholder="Transport"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 5px;"></td>
            <td>&emsp;<input type="text" id="address" name="address" placeholder="Advances"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 5px;"></td>
            <td>&emsp;<input type="text" id="address" name="address" placeholder="other"></td>
          </tr>
        </table>
      </div>
    </div>
    <!--Kgs Input Table Start-->
    <div class="row">
      <div class="w3-col" style="background-color: #95ED7D;">
          <center><br><table style="width: 90%;  padding: 2px 2px 2px 2px; background-color: #95ED7D;">
            <tr>
              <th class="th">Day</th>
              <th class="th">1</th>
              <th class="th">2</th>
              <th class="th">3</th>
              <th class="th">4</th>
              <th class="th">5</th>
              <th class="th">6</th>
              <th class="th">7</th>
              <th class="th">8</th>
              <th class="th">9</th>
              <th class="th">10</th>
              <th class="th">11</th>
              <th class="th">12</th>
              <th class="th">13</th>
              <th class="th">14</th>
              <th class="th">15</th>
              <th class="th">16</th>
            </tr>
            <tr>
              <th class="th">Kg</th>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
            </tr>
            <tr>
              <th class="th">Day</th>
              <th class="th">1</th>
              <th class="th">2</th>
              <th class="th">3</th>
              <th class="th">4</th>
              <th class="th">5</th>
              <th class="th">6</th>
              <th class="th">7</th>
              <th class="th">8</th>
              <th class="th">9</th>
              <th class="th">10</th>
              <th class="th">11</th>
              <th class="th">12</th>
              <th class="th">13</th>
              <th class="th">14</th>
              <th class="th">15</th>
              <th class="th">16</th>
            </tr>
            <tr>
              <th class="th">Kg</th>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
              <td class="td"><input type="number" style="width: 5%;"></td>
            </tr>
          </table><br></center>
          <div style="width: 98%;"><a href="AllRegisteredSuppliers.html"><input style="float: right;" class="remvButton" type="button" value="Cancel" onclick="w3_close()"></a><input style="float: right;" class="regButton" type="submit" value="Calculate"></div>
          <br><br><br>
      </div>
    </div><br>
    <!--Kgs Input Table Start-->
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container 
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"> <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity"></a></p></div>
-->
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
