{% extends 'AuctionStock_Teamplates/FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Add Daily Production{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
 }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block dailyProductionBtn %}ClassActive{% endblock dailyProductionBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block teaGradesBtn %}ClassActive1{% endblock teaGradesBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Tea Grades{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block auctionStockMenu %}{% endblock auctionStockMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

    <br>

    <div>
    <form>
        <label>Add new tea category:</label>
        <input type="text">
        <input type="submit" value="Add">
    </form>
</div>
    <br><br>

<div>
    <table>
        <tr>
            <th>Tea Category</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>BOPF</td>
            <td><input type="submit" value="delete"></td>
        </tr>
    </table>

</div>


{% endblock content %}