{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Tea Shop Home</title>

<link href="{% static 'css/teashopHome.css' %}" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<!-- Card Group begin-->
<section id="team" class="pb-5">
    <div class="container">

        <h4 class="section-title h1">Tea Shop Home</h4>

        <div class="row">
            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage1()" >
                        <div class="card-body text-center">
                            <img src="{% static 'images/inventory.png' %}"/>
                            <h1 class="card-title">Inventory Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->

            <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage2()" >
                        <div class="card-body text-center">
                            <img src="{% static 'images/sales.jpg' %}"/>
                            <h1 class="card-title">Sales Management</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->


                        <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage3()" >
                        <div class="card-body text-center" >
                            <img src="{% static 'images/home.png' %}"/>
                            <h1 class="card-title">Admin Home</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->


                        <!-- Card begins-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="frontside">
                    <div class="card" onclick= "navigatepage4()" >
                        <div class="card-body text-center" >
                            <img src="{% static 'images/logout.png' %}"/>
                            <h1 class="card-title">Logout</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./card ends -->


        </div>

    </div>

</section>
<!-- Card Group end-->

    <script>
        {#function navigatepage1()#}
        {#{#}
        {#    window.location.href = "{% url 'factory_home' %}"#}
{#        }#}
        function navigatepage2()
        {
            window.location.href = "{% url 'SalesHomeIncome' %}"
        }

        function navigatepage3()
        {
            window.location.href = "{% url 'home' %}"
        }

        function navigatepage4()
        {
            window.location.href = "{% url 'logout' %}"
        }

    </script>

</body>
</html>
