{% extends 'leafInventoryBase.html' %}
<!DOCTYPE html>
<html lang="en">

<!------title-------->
{% block title %}Update Inventory{% endblock title %}

<!------style-------->

{% block moreStyles %}

{% endblock moreStyles %}

<!----header---->
{% block pageContentHeader1 %}Leaf Inventory{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Previous Inventory.{% endblock pageContentHeader2 %}

<!---------active class------>
{% block prevInventoryBtn %}ClassActive{% endblock prevInventoryBtn %}


<!------main content------>
{% block content %}
     <div>

    <form method="post" action="{% url 'updateLeaf' %}">
        {% csrf_token %}

        <input type="hidden" name = "LID" value="{{ lid }}">

      <label for="Date"> In Date:</label><br>
        {{ form.in_Date }}
          <br><br>

          <label for="inTime">In time:</label><br>
        {{ form.in_Time }}
          <br><br>

          <label for="Tray_ID">Tray Id:</label><br>
        {{ form.tray_Id }}
        <br><br>
          <label for="Temparature">Temparature:</label><br>
        {{ form.temp }}
        <br><br>
          <label for="Stock_Weight">Stock weight (in kg):</label><br>
        {{ form.weight }}
       <br><br>
          <label for="Out_date">Out Date:</label><br>
        {{ form.out_Date }}
        <br><br>
          <label for="outTime">Out time:</label><br>
        {{ form.out_Time }}
        <br><br>
          <br><br>

      <input type="submit" value="Update" name="updateInv">
    </form>

  </div>

{% endblock content %}



