{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Update Buyer{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #0b7fd7;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      height: 50px;
      border-radius: 15px;
    }


.buttonEdit:hover {
    background: #e9e444;
    color: #000;
    }

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block allBuyersBtn %}ClassActive1{% endblock allBuyersBtn %}


<!-----------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | Update Buyer{% endblock pageContentHeader2 %}

<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<h1>Update Buyer</h1>

<br>
<!-- Form -->
   <form method="post" action="{% url 'update_buyer' %}">

    {% csrf_token %}

      <input type="hidden" value="{{ BId }}" name="bID" class="w3-input w3-border">

       <div class="sectionform">

       <table>
           <tr>
               <td><label><b>Buyer Company Name</b></label></td>
               <td>{{ BuyerForm.name }}</td>

           </tr>

           <tr>
               <td><label><b>Vat Reg.No</b></label></td>
               <td>{{ BuyerForm.vat_regno }}</td>
           </tr>

           <td><button type="submit" class="buttonEdit">Update Buyer</button></td></tr>

       </table>

     </div>
    </form>

    {% if BuyerForm.errors %}

        <div class="errorDisplay" style="background-color: #faff8a; color:#de2020; padding:5px">
            <h3 style="font-weight: bold">{{ BuyerForm.errors }}</h3>
        </div>

    {% endif %}

{% endblock content %}