{% extends 'transportationBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Transportation Management{% endblock title %}

<!-------------------------Styles------------------------->
    {% block moreStyles %}

{#<style>#}
    table
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th
    {
      border: 1px solid #dddddd;
      text-align: center;
      font-size: 15px;
      padding: 18px;
      background: #fff9d2;
    }

    td
    {
      border: 1px solid #e7e5e5;
      text-align: left;
      font-size: 20px;
      padding: 15px;
    }

    tr:nth-child(even)
    {
      background-color: #eae9e7;
    }

  .btn {
    background-color: #34b006;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;
}

   .btn:hover {
  background-color: #000000;
  color: #77fd01;
}

{#</style>#}
    {% endblock moreStyles %}


 {% block recordsBtn %}ClassActive{% endblock recordsBtn %}

{% block pageContentHeader1 %}Transportation Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Vehicle Records Table{% endblock pageContentHeader2 %}


     {% block RepairMenu %}{% endblock RepairMenu %}
     {% block OilMenu %}{% endblock OilMenu %}

{% block recordTableBtn %}ClassActive1{% endblock recordTableBtn %}



{% block content %}

    {% if messages %}
       {% for message in messages %}
          <script>alert("{{ message }}");</script>
    {% endfor %}
    {% endif %}

<br><br>
<div>
       <table>
              <tr >
                 <th>ID</th>
                <th>Vehicle No</th>
                <th>Date</th>
                <th>Start Readings </th>
                <th>End Readings</th>
                <th>Meter Difference</th>
                <th>Delete</th>



            {% for record in records %}

        <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.VehicleNo}}</td>
        <td>{{ record.Date}} </td>
        <td>{{ record.Start_Reading}}</td>
        <td>{{ record.End_Reading}}</td>
        <td>{{ record.Meter_Difference }}</td>



         <form method="post" action=" {% url 'delete_driving_records' %}">
                    {% csrf_token %}
             <input type = "hidden" name="id" value="{{ record.id }}"/>
{#             <input type = "hidden" name="vehicleno" value="{{ record.VehicleNo}}"/>#}
            <td><input type="submit" class = "btn" value="Delete"></td>

         </form>






        </tr>
        {% endfor %}


       </table>


  </div>


{% endblock content %}