{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title--------------------------------------->
{% block title %}View Auction Stock{% endblock title %}

<!------------------------------------Scripts-------------------------------------->
 {% block headImport1 %}

    <script>
        function formPopupFunction() {
          document.getElementById("popupForm").style.display="block";
          document.getElementById("closeBtn").style.visibility="visible";
          document.getElementById("openBtn").style.visibility="hidden";
        }

        function closeformPopupFunction() {
          document.getElementById("popupForm").style.display="none";
          document.getElementById("openBtn").style.visibility="visible";
          document.getElementById("closeBtn").style.visibility="hidden";
        }
    </script>
 {% endblock headImport1 %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #2f960a;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 90%;
      border-radius: 15px;
    }

.buttonEdit:hover {
    background: #25ff79;
    }

.buttonAdd
    {
      background-color:#F41847;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 60%;
      padding:10px;
      border-radius: 15px;
    }

.buttonOpen
    {
      background-color:#001EA9;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 40%;
      padding:10px;
    }

.buttonClose{
      visibility:hidden;
      background-color:#290202;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 40%;
      padding:10px;
    }

.buttonAdd:hover , .buttonOpen:hover, .buttonClose:hover{
    background: #EEF418;
    color:black;
    }

.showTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

.showTable th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background: #fff9d2;
    }

.showTable td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    }

.showTable tr:nth-child(even) {
    background-color: #f8f5f5;
    }

#popupForm {
  display: none;
  width: 70%;
  padding: 30px;
  background-color: #FEFFE3;
  margin-top: 20px;
}

{% endblock moreStyles %}

<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | View Catelogs{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block showCatelogBtn %}ClassActive1{% endblock showCatelogBtn %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<!-- Table -->
<h1>Sub Catelog Details</h1>

    <h4>No of Sub Stocks:&ensp;{{ subStocks.rowsNo }} </h4>
    <h4>Total Net Weight:&ensp;{{ subStocks.tne }} kg</h4>
    <h4>Total Gross Weight:&ensp;{{ subStocks.tgr }} kg</h4>
    <h4>Total No of Packets:&ensp;{{ subStocks.tpk }}</h4>

    <div style="overflow-x:auto;">

     <table class="showTable">

        <th>MainID</th>
        <th>SubStockId</th>
        <th>Invoice</th>
        <th>No of Packets</th>
        <th>Net Weight</th>
        <th>Total Weight</th>
        <th>Grade</th>
        <th>Packet Type</th>
        <th>Date Prepared</th>
        <th>Status</th>
        <th>Edit</th>

         {% for stock in subStocks.sub %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.SubID }}</td>
                <td>{{ stock.invoice }}</td>
                <td>{{ stock.no_of_packets }}</td>
                <td>{{ stock.net_weight }}</td>
                <td>{{ stock.total_weight }}</td>
                <td>{{ stock.grade }}</td>
                <td>{{ stock.packetType }}</td>
                <td>{{ stock.date_prepared }}</td>
                <td>{{ stock.status }}</td>

                <td>
                    <form method="post" action="{% url 'view_mainStock' %}">
                        {% csrf_token %}
                        <input type="hidden" name="sid" value="{{ st.SubID }}"/>
                        <input type="submit" value="Edit" class="buttonEdit">
                    </form>

                <br>
                    <form method="post" action="{% url 'delete_subStock' %}">
                        {% csrf_token %}
                        <input type="hidden" name="stID" value="{{ stock.id }}"/>
                        <input type="hidden" name="subID" value="{{ stock.SubID }}"/>
                        <input type="submit" value="Delete" class="buttonEdit" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return false }">
                    </form>

            </tr>
        {% endfor %}

     </table>
    </div>

    <br><br>

<button class="buttonOpen" id="openBtn" onclick="formPopupFunction()">Add Sub Stock</button>

<div id="popupForm">

    <h1 style="text-align: center">Add Sub Stock</h1>

    <!-- Form -->
       <form method="post" action="{% url 'after_add_subStock' %}">

        {% csrf_token %}

           <div class="sectionform">

           <table class="abdTable">
              <tr>
                   <td><label><b>Sub Stock ID</b></label></td>
                  <input type="hidden" name="sid"  value="{{ sid }}">
                   <td>{{ sid }}</td>
               </tr>

               <tr>
                   <td><label><b>Invoice No</b></label></td>
                   <td>{{ form.invoice }}</td>
               </tr>

               <tr>
                   <td><label><b>Tea Category</b></label></td>
                   <td>{{ form.grade }}</td>
               </tr>

               <tr>
                   <td><label><b>Net Weight(kg)</b></label></td>
                   <td>{{ form.net_weight }}</td>
               </tr>

               <tr>
                   <td><label><b>Total Weight(kg)</b></label></td>
                   <td>{{ form.total_weight }}</td>
               </tr>

               <tr>
                   <td><label><b>No of Packeges</b></label></td>
                   <td>{{ form.no_of_packets }}</td>
               </tr>

              <tr>
                   <td><label><b>Packet Type </b></label></td>
                   <td>{{ form.packetType }}</td>
               </tr>

               <tr>
                   <td><label><b>Date Prepared </b></label></td>
                   <td>{{ form.date_prepared }}</td>
               </tr>

           </table>

         </div>
            <br>
            <button type="submit" class="buttonAdd">Submit SubStock</button>
        </form>

       <br>
        <button class="buttonClose" id="closeBtn" onclick="closeformPopupFunction()">Close Form</button>

        <!--------------Errors--------------------------------------->
        {% if form.errors %}

            <div class="errorDisplay" style="background-color: #faff8a; color:#de2020; padding:5px">
                <h3 style="font-weight: bold">{{ form.errors }}</h3>
            </div>

       {% endif %}

</div>

    <br><br>

{% endblock content %}
