{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}View Auction Stock{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

.buttonEdit
    {
      background-color: #2f960a;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 90%;
      border-radius: 15px;
    }

.buttonEdit:hover {
    background: #25ff79;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

th {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 18px;
    padding: 18px;
    background: #fff9d2;
    }

td {
    border: 1px solid #e7e5e5;
    text-align: left;
    font-size: 16px;
    padding: 15px;
    }

tr:nth-child(even) {
    background-color: #f8f5f5;
    }

{% endblock moreStyles %}

<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Auction Stock | View Catelogs{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

Display Message
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block dailyProductionMenu %}{% endblock dailyProductionMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!-------------------------Body Menue------------------------->
{% block auctionStockBtn %}ClassActive{% endblock auctionStockBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block showCatelogBtn %}ClassActive1{% endblock showCatelogBtn %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<!-- Table -->
<h1>Sub Catelog Details</h1>

    <h4>No of Sub Stocks:&ensp;{{ subStocks.rowsNo }} </h4>
    <h4>Total Net Weight:&ensp;{{ subStocks.tne }} kg</h4>
    <h4>Total Gross Weight:&ensp;{{ subStocks.tgr }} kg</h4>
    <h4>Total No of Packets:&ensp;{{ subStocks.tpk }}</h4>

    <div style="overflow-x:auto;">

     <table>

        <th>MainID</th>
        <th>SubStockId</th>
        <th>Invoice</th>
        <th>No of Packets</th>
        <th>Net Weight</th>
        <th>Total Weight</th>
        <th>Grade</th>
        <th>Packet Type</th>
        <th>Date Prepared</th>
        <th>Status</th>
        <th>Edit</th>

         {% for stock in subStocks.sub %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.SubID }}</td>
                <td>{{ stock.invoice }}</td>
                <td>{{ stock.no_of_packets }}</td>
                <td>{{ stock.net_weight }}</td>
                <td>{{ stock.total_weight }}</td>
                <td>{{ stock.grade }}</td>
                <td>{{ stock.packetType }}</td>
                <td>{{ stock.date_prepared }}</td>
                <td>{{ stock.status }}</td>

                <td>
                    <form method="post" action="{% url 'view_mainStock' %}">
                        {% csrf_token %}
                        <input type="hidden" name="sid" value="{{ st.SubID }}"/>
                        <input type="submit" value="Edit" class="buttonEdit">
                    </form>

                <br>
                    <form method="post" action="{% url 'delete_subStock' %}">
                        {% csrf_token %}
                        <input type="hidden" name="stID" value="{{ stock.id }}"/>
                        <input type="submit" value="Delete" class="buttonEdit">
                    </form>

            </tr>
        {% endfor %}

     </table>
    </div>

{% endblock content %}
