<!DOCTYPE html>
<html lang="en">
<title>view_employee</title>
<link rel="shortcut icon" type="image/png" href="/static/images/logo1.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.addButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.deleteButton{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
  opacity: 1;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
      <img src="/static/images/logo1.png" alt="logo" style="width: 250px; height: 200px; margin-left: auto; padding-right: 20px;">
    <h3 class="w3-padding-64"><b>Ambrosia<br></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
     <a href="{% url 'factoryworkers_management' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Factory Worker Details</a>
      <a href="{% url 'staff_management' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Staff Details</a>
      <a href="{% url 'attendance_management' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Attendance</a>
    <a href="SalaryManagement%20template/funds_table.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Funds</a>
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Deduction</a>
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Allowance</a>
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Salary</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Ambroisa</b></h1>
    <h1 class="w3-xxxlarge w3-text-green"><b>View Employee.</b></h1>
  </div>

    <div class="row">
      <div class="column">
          <table style="padding: 20px 20px 20px 20px; background-color:#ffff;">
              <h2><b>General Information</b></h2>
              <tr>
                <th></th>
                <th></th>
              </tr>
               <tr>
              <td><label for="dob">Date of Birth</label></td>
              </tr>
              <tr>
              <td><label for="gender">Gender</label></td>
              </tr>
              <tr>
              <td><label for="maritalStatus">Marital Status</label></td>
              </tr>
              <tr>
              <td><label for="doa">Date of Approval</label></td>
              </tr>
              <tr>
              <td><label for="empgroup">Employee Group</label></td>
              </tr>
               <tr>
              <td><label for="emptype">Employee Type</label></td>
              </tr>
               <tr>
              <td><label for="designation">Designation</label></td>
              </tr>
              <tr>
              <td><label for="basicsalary">Basic Salary</label></td>
              </tr>
          </table>
    </div>

        <div class="column">
             <table style="padding: 20px 20px 20px 20px; background-color:#ffff;">
              <tr>
                <th></th>
                <th></th>
              </tr>
               <tr>
              <td><label for="photo">Employee Photo</label></td>
              <td><img src="#" alt="photo"></td>
              </tr>
                  <tr>
              <td><label for="name" style="font-style:bold;">EPF No</label></td><br>
              </tr>
              <tr>
              <td><label for="nic">NIC No</label></td>
              </tr>
             </table>
            <table style="padding: 20px 20px 20px 20px; background-color:#ffff;">
                 <tr>
                     <h2><b>Contact Information</b></h2>
                 </tr>
                  <tr>
              <td><label for="phone">Contact No</label></td>
              </tr>
                 <tr>
              <td><label for="address">Address</label></td>
              </tr>
            </table>
            <a href="{% url 'edit_employee' %}"><input class="addButton" type="submit" value="Edit" onclick="w3_close()"></a>
                    <a href="#"><input class="deleteButton" type="submit" value="Delete" onclick="w3_close()"></a>
        </div>
    </div>


<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
