
{% extends 'transportationBase.html' %}

<!-------------------------Title------------------------->
{% block title %}Transportation Management{% endblock title %}

<!-------------------------Styles------------------------->
    {% block moreStyles %}


    table
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th
    {
      border: 1px solid #dddddd;
      text-align: center;
      font-size: 15px;
      padding: 18px;
      background: #fff9d2;
    }

    td
    {
      border: 1px solid #e7e5e5;
      text-align: left;
      font-size: 20px;
      padding: 15px;
    }

    tr:nth-child(even)
    {
      background-color: #eae9e7;
    }

  .btn {
    background-color: #34b006;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;
}

   .btn:hover {
  background-color: #000000;
  color: #77fd01;
}
    .btn1 {
    background-color: #fd4201;
    border-radius: 12px;
    padding: 8px 10px;
    border: none;
    transition-duration: 0.4s;

}

   .btn1:hover {
  background-color: #000000;
  color: #fd4201;
}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

    {% endblock moreStyles %}


 {% block oilBtn %}ClassActive{% endblock oilBtn %}

{% block pageContentHeader1 %}Transportation Management{% endblock pageContentHeader1 %}
{% block pageContentHeader2 %}Oil Details Table{% endblock pageContentHeader2 %}


     {% block vehicleRecordsMenu %}{% endblock vehicleRecordsMenu %}
     {% block RepairMenu %}{% endblock RepairMenu %}

{% block OilTableBtn %}ClassActive1{% endblock OilTableBtn %}



{% block content %}

<br><br>

   <div>
       <table>
              <tr >

                <th >Oil ID </th>
                <th> Container No</th>
                <th>Vehicle No</th>
                <th>Type</th>
                <th>Consumed Amount</th>
                <th>Price</th>
                <th>Delete</th>

              </tr>

            {% for oil in oil %}
        <tr>
        <td>{{ oil.id}} </td>
        <td>{{ oil.Container_No}}</td>
        <td>{{ oil.VehicleNo}}</td>
        <td>{{ oil.type}}</td>
        <td>{{ oil.Consumed_Amount}}</td>
        <td>{{ oil.Price}}</td>



         <form method="post" action="{% url 'delete_Oil_records' %}  ">
                    {% csrf_token %}
             <input type = "hidden" name="id" value="{{ oil.id }}"/>
            <td><input type="submit" class = "btn" value="Delete" onclick="if (!confirm('Are you sure You Want to Delete?.Press Ok To Confirm.')) { return }"></td>

         </form>

        </tr>
        {% endfor %}

    </table>

   <br><br>

   </div>

{% endblock content %}













