{% extends 'FinalPrductionBase.html' %}

<!------------------------------------Title-------------------------------------->
{% block title %}Custom Daily Production{% endblock title %}

<!------------------------------------Styles-------------------------------------->

{% block moreStyles %}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  * {
  box-sizing: border-box;
}

{% endblock moreStyles %}

<!-------------------------Body Menue------------------------->
{% block dailyProductionBtn %}ClassActive{% endblock dailyProductionBtn %}


<!-------------------------Body Sub Menue------------------------->
{% block customDailyProductionBtn %}ClassActive1{% endblock customDailyProductionBtn %}


<!-----------------------------------Header1-------------------------------------->
{% block pageContentHeader1 %}Final Production Management{% endblock pageContentHeader1 %}


<!----------------------------------Header2--------------------------------------->
{% block pageContentHeader2 %}Custom Daily Production{% endblock pageContentHeader2 %}


<!---------------------------------Messages-------------------------------------->
{% block displayMessage %}

{#Display Message#}
{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

{% endblock displayMessage %}


<!----------------------------------Hide Menues--------------------------------------->

{% block auctionStockMenu %}{% endblock auctionStockMenu %}
{% block stockSalesMenu %}{% endblock stockSalesMenu %}


<!----------------------------------Body Content--------------------------------------->
{% block content %}

<br>

<table>
  <tr>
    <th>Daily prod. ID</th>
    <th>Date</th>
    <th>Total Weight</th>
    <th>Action</th>
  </tr>

    <tr>
    <th>001</th>
    <th>12/12/2019</th>
    <th>1996 kg</th>
      <th><a href="{% url 'NavigateToUpdateProd' %}" background="green">edit</a> <br><button>Delete</button> </th>
  </tr>
</table>

{% endblock content %}