<!DOCTYPE html>
<html lang="en">
<title>View Supplier Profile</title>
<link rel="shortcut icon" type="image/png" href="/static/images/logo1.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="styles/itp.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.regButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .remvButton {
    background-color: #FF0000; /* Reg */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

</style>
<body style="background-color: #E4FBDE;">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <br><br><div class="w3-container">
    <!--Company Logo-->
    <img src="/static/images/logo1.png" alt="logo" style="width: 250px; height: 200px; margin-left: auto; padding-right: 20px;">
    <h3 class="w3-padding-64"><b>Ambrosia<br></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'S_AllRegisteredSuppliers' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profiles</a>
    <a href="{% url 'S_SupRegistration' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Registration</a>
    <a href="{% url 'S_StockDetails' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Stock</a>
    <a href="{% url 'S_SupPayments' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Payments</a>
    <!--<a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Salary</a> -->
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Niyandagala “Ambroshia” Tea</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 style="font-size: 48px;"><b>Supplier Management</b></h1>
    <h1 class="w3-text-green" style="font-size: 24px;"><b>Supplier Profile</b></h1>
    <a href="{% url 'S_AllRegisteredSuppliers' %}"><input class="regButton" type="submit" value="View All Suppliers" onclick="w3_close()"></a>
    <!--<hr style="width:50px;border:5px solid #64ff33" class="w3-round">-->
  </div>

  <!--View Supplier Profile-->
  <div style="padding-left: 20px;">
    <table style=" padding: 20px 20px 20px 20px; background-color: #95ED7D;">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="date" style="font-size: 20px;">Supplier Photo</label></td>
      <td>&emsp;<img src="#" alt="Supplier Photo"></td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="name" style="font-size: 20px;">Name</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="nicno" style="font-size: 20px;">NIC No</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="address" style="font-size: 20px;">Address</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="contact" style="font-size: 20px;">Contact No</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="email" style="font-size: 20px;">Email Address</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="dob" style="font-size: 20px;">Date of Birth</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="date" style="font-size: 20px;">Date Commenced</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="estate" style="font-size: 20px;">Estate Name</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="route" style="font-size: 20px;">Route</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="ss" style="font-size: 20px;">Supply Scale</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="paytyme" style="font-size: 20px;">Payment Type</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="bank" style="font-size: 20px;">Bank</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td style="padding-bottom: 5px;"><label for="accno" style="font-size: 20px;">Account No</label></td>
      <td>&emsp;</td>
      </tr>
      <tr>
      <td></td>
      <td><br>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&ensp;&ensp;<a href="{% url 'S_EditSupplier' %}"><input class="regButton" type="submit" value="Edit"></a></td>
      </tr>
    </table>
    <br><br><br><br>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container 
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"> <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity"></a></p></div>
-->
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
